/* general styling commands */
html{
  min-width:800px !important;
  height:100%;
  }
body {
  font-family: Arial, Helvetica, sans-serif;
  color:#333;
  min-width:800px;
  height:100%;
  }

h1,h2,h3,h4,h5,h6    { color: #333;}
h1{ font-size: 28px;margin-bottom:10px;}
h2{
  font-size: 22px;
  margin-bottom:10px;
}
h2.head{
  border-bottom:2px solid #d6d6d6;
}
.sub-head{
  border-bottom:1px dashed #d6d6d6;
}
h3{
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
  color: #222;
}
h4{
  font-size: 15px;
  margin: 10px 0;
  text-transform: uppercase;
  color: #333333;
  padding: 0px;
}
h5{
  font-size: 15px;
  margin: 10px 0;
  text-transform: uppercase;
  color: #999999;
  padding: 0px;
}
h6 {
  font-size: 14px;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #999999;
}

a, button {outline:0;}
p {}
ol {list-style-type: lower-roman;}
dt { font-weight: bold;text-decoration: underline;font-size: 14px;margin-top: 5px;margin-bottom: 5px;} 
dd {
  font-size: 12px;
  color: #666666;
  padding: 5px 0 10px 10px;  
  margin: 0 0 0 10px;
}
div.textual {
  font-family: Verdana, Helvetica, sans-serif;
  color:#444;
  font-weight:normal;
  font-size:12px;
  line-height:1.6em;
}
.even {background-color: #EAEAEA;}
.indent{margin:15px;line-height:1.5em;color:#444;}





#login-wrapper {
  width: 320px;
  margin: 50px auto 10px auto;
  order: 10px solid #d6d6d6;
  padding: 15px 30px;
  -webkit-border-radius:10px;
  /* CSS 3 DROP SHADOW */
  -moz-box-shadow: 0px 2px 8px #ccc;
  -webkit-box-shadow: 0px 2px 8px #ccc;
  box-shadow: 0px 2px 4px #ccc;
}
  #login-wrapper h1   {
  text-align:center;
  padding-bottom: 10px;
  font-size: 28px;
  }
  #login-wrapper button   {
    margin:auto;
    width:80px;
  }

.user-status {
  margin:auto;
  line-height:1.6em;
  width:450px;
  padding:10px;
  text-align:center;
  -webkit-border-radius:7px;
  -moz-border-radius:7px;
}
input.save-account {
  display:inline-block;
  padding:3px !important;
  border:1px solid #333;
  font-size:12px;
  color:green;
  background:#fff;
}
input.save-account:hover {
  background:orange;
  color:#fff;
  border:1px solid #fff;
  cursor:cursor;
  cursor:pointer;
  
}
.user-status.guest{background:#ffffcc;}
.user-status.owner{background:#e7ffd8;}
.user-status b{font-size:1.2em;}

/* ----------------------------
    LAYOUT
------------------------------- */
#wrapper{
  min-width:800px;
  overflow:hidden;
}
/* top black links */
#top {
  min-width:900px;
  font-size:0.9em;
  padding-right:20px;
  padding-left:40px;
  margin-bottom:10px;
  overflow:hidden;
}
#top img { float:left;}
#top ul{
float:right;
list-style:none; 
padding:5px 0;
 }
#top ul li{display:inline;  margin:0 6px;}
#top ul li a{
background:#333;padding:5px 10px; color:#fff;
text-decoration:none;
}
#top ul li a:hover{background:#cc0000}


#main-wrapper {
  margin:0 auto 20px 50px;
  padding: 0px;
  float: left;
  clear: both;
  width: 90%;
  min-width:850px;
  min-height:350px;
}
.primary-content {
  width: 95%;
  min-width:800px;
  min-height:400px;
  margin: auto;
  padding: 25px;
  background: transparent;
}


/* main parent navigation */
ul#parent_nav {
  min-width:750px;
  margin-left:40px;
  margin-bottom:15px;
  padding:10px 0 20px 0;
  border-bottom:2px solid #ffcccc;
  list-style:none;
  overflow:hidden;
}

#parent_nav li{
  display:inline;
}
  #parent_nav a{
    position:relative;
    padding:8px 12px;
    margin-left:5px;
    color: #666666;
    font-size:14px;
    text-decoration: none;
    font-weight:bold;
    ackground:#eee;
    -webkit-border-radius:7px;
  }
  #parent_nav a:hover,
  #parent_nav a.active{
    color:#000;
    background:#eee;
    background:#fff url('/images/common/gradients.jpg') repeat-x 0 -200px;
    -moz-box-shadow: 0px 2px 4px #ccc;
    -webkit-box-shadow: 0px 2px 4px #ccc;
    box-shadow: 0px 2px 4px #ccc;
  }
  
/* child navigation */
div.child_nav{
  min-width:800px;
  margin-bottom:10px;
  margin-left:30px;
  padding-bottom:5px;
  border-bottom:2px solid #ffcccc;
  overflow:hidden;
}
div.child_nav p{
  margin:0;
  padding:9px 0;
}
div.child_nav ul{
  list-style:none;
  margin:0;padding:0;
  padding:9px 0;
}
div.child_nav ul li{
  display:inline;
} 
div.child_nav ul li a{
    position:relative;
    padding:8px 12px;
    margin-right:5px;
    color: #666666;
    font-size:14px;
    text-decoration: none;
    font-weight:bold;
    -webkit-border-radius:7px;
} 
.child_nav ul a:hover,
.child_nav ul a.active{
  color:#000;
    /* CSS 3 DROP SHADOW */
    -moz-box-shadow: 0px 2px 4px #ccc;
    -webkit-box-shadow: 0px 2px 4px #ccc;
    box-shadow: 0px 2px 4px #ccc;
  }
  
/* grandchild top navigation */

  ul.grandchild_nav {
    min-width:800px;
    margin-left:50px;
    list-style:none;
    padding:15px 0;
    border-bottom:1px solid #66ccff; 
  }
  ul.grandchild_nav li{ display:inline;}
  ul.grandchild_nav li a{
    position:relative;
    top:5px;
    padding:10px 17px;
    margin-right:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    background:#eee;
    color: #666666;
    font-size:13px;
    text-decoration: none;
    font-weight:bold;
  }
  ul.grandchild_nav li a:hover,
  ul.grandchild_nav li a.active{
    padding:11px 17px;
    background:#fff;
    border:1px solid #66ccff; /*0099ff */
    border-bottom:1px solid #fff;
    color:#ff7676;
    text-decoration:none;
    -moz-box-shadow: 1px -1px 4px #eee;
    -webkit-box-shadow: 2px -2px 4px #eee;
    box-shadow: 1px -1px 4px #eee;
  }

/* footer*/
#footer  {
  clear: both;
  margin: 20px 0;
  padding: 10px 0;
  padding-left: 20px;
  font-size: 10px;
  text-align:center;
}
#subnav{display:none;}
#subnav ul{text-align:right; border:1px solid red;}


/* ----------------------------
    TABLES
------------------------------- */

table {
  font: 11px/24px Verdana, Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border:0;
  }

th   {
  text-align: left;
  background-color: #333;
  padding: 5px;
  text-transform: uppercase;
  color:#fff;
}
td   {
  text-align: left;
  padding: 3px;
}

.primary-content tr:hover {
  background-color: #FFFFCC;
}
/* tables */
table.tablesorter {
  font-family:arial;
  background-color: #CDCDCD;
  font-size: 8pt;
  width: 100%;
  text-align: left;
  margin-top: 10px;
  margin-right: 0pt;
  margin-bottom: 25px;
  margin-left: 0pt;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
  background-color: #d6d6d6;
  border: 1px solid #FFF;
  font-size: 8pt;
  padding: 4px;
}
table.tablesorter thead tr .header {
  background-image: url('/images/admin/bg.gif');
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
table.tablesorter tbody td {
  color: #3D3D3D;
  padding: 4px;
  background-color: #FFF;
  vertical-align: top;
}
table.tablesorter tbody tr.odd td {
  background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
  background-image: url('/images/admin/asc.gif');
}
table.tablesorter thead tr .headerSortDown {
  background-image: url('/images/admin/desc.gif');
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
  background-color: #B7B7B7;
}






/* ajax responses
 ---------------------------------------- */
 #status-bar {
  position:fixed; top:0; left:0; 
  min-width:890px; width:100%; 
  z-index:9995; margin:0; padding:0; 
  font-size:12px; 
  text-align:center;
}
#status-bar div#submitting,
#status-bar div.responding{
  margin:auto;
}
#status-bar div.responding{width:350px;}
#status-bar div#submitting{
  width:180px;
  padding:3px 20px;
  background:#09A0FB url('/images/admin/circle.gif') no-repeat 80% 50%;
  color:#fff;
  height:55px;
  text-align:left;
}
#status-bar div#submitting strong{
  display:block;
  margin-top:20px;
  font-size:1.2em;
}

.loading{
  width:200px;
  margin:auto; margin-top:30px;
  padding-top:45px;
  text-align:center;
  color:#222;
  background:url('/images/loading.gif') no-repeat top center;
}
.loading.white{color:#fff}
div.responding.active{
  padding:5px;
  font-size:14px;
  color:#fff;
  font-weight:bold;
}
div.responding.active.good {
  background:green;
  color:#fff;
}
div.responding.active.bad {
  background:red;
  color:#fff;
}
div.responding.active.warn {
  background:orange;
  color:#fff;
}




