
/* admin/index 
 ***********************
 */
#widget-wrapper{}

/* set categories */
ul#sortable{
  border:1px solid #000;
  list-style:none !important; margin:0 !important;padding:0 !important;
} 
.cat-item{
  margin: 10px 0;
  padding:8px;
  font-size: 12px;
  font-weight: bold;
  line-height: 24px;
}
div.cat-handle{float:left;width:60px;height:50px; cursor:move;}
.cat-sort{
  background:#FFFBCC url('/images/admin/move.png') no-repeat 10px center;
  border: 1px solid #FFF35E;
  color: #C69E00; 
}
.cat-add{
 border: 1px solid #97FF88;
 color: #009900;
 padding-left:60px; 
 background:#D5FFCF url('/images/admin/accept.png') no-repeat 10px center;

}

.cat-item input{padding:2px; background:#fff; border:1px solid #fff;}
.cat-item input:focus{background:#ffffaa; border:1px solid orange}
.cat-item input.cat-name{width:200px;}
.cat-item input.cat-desc{width:300px;}

.cat-item .cat-save,
.cat-item .cat-delete{float:right;}
.cat-item .cat-delete{}

button.save-cat{
  background:transparent url('/images/admin/accept.png') no-repeat 50% 50%;
  width:30px;
}
a.del-cat{
  background:transparent url('/images/admin/delete.png') no-repeat 50% 50%;
  width:30px;
}



/* admin/manage 
 ***********************
 */
#data-description {
  text-align:center;
  margin-bottom:15px;
  color:#777;
}
#with-selected{list-style:none;margin:0; margin-bottom:10px; padding:0;}
#with-selected li {display:inline; margin-right:10px;}
#with-selected li.right {float:right;}
.share-data{width:600px;height:300px; text-align:center}
.share-data input{width:500px;font-size:1.2em;padding:5px;}

table.t-data{margin:0; padding:0; margin-bottom:20px;}
table.t-data tr td{border-bottom:1px solid #ccc; background:#fff}
table.t-data tr.off td{background:#eee; color:#777}
table.t-data tr td{}

/* tables */
table.t-data thead tr th, table.t-data tfoot tr th {
  background-color: #333;
  padding: 4px;
}
table.t-data thead tr .header {
  background-image: url('/images/admin/bg.gif');
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
table.t-data tbody td {
  padding: 4px;
  vertical-align: top;
}
table.t-data tbody tr.odd td {
  background-color:#F0F0F6;
}
table.t-data thead tr .headerSortUp {
  background-image: url('/images/admin/asc.gif');
}
table.t-data thead tr .headerSortDown {
  background-image: url('/images/admin/desc.gif');
}
table.t-data thead tr .headerSortDown, table.t-data thead tr .headerSortUp {
background-color: #555;
}

td.move img {
  width:18px;height:18px;margin-top:2px;
  cursor:move;
}


/* admin/install 
 ***********************
 */
.install-page div{padding:5px; margin-bottom:5px; font-size:0.9em;}
.install-page .info {margin-bottom:10px; background:#ffffcc;}
.install-page textarea {width:100%; height:100px; margin-bottom:10px;}

 
/* survey questions (not using)
 ***********************
 */
.questions-wrapper{
}
.questions-wrapper p{
  margin:5px;padding:5px;background:#eee;
}



