<%= form_for @user, :url => admin_account_path do |f| %>
  <div class="btn-toolbar">
    <div class="btn-group" style="float:right">
      <button type="submit" class="btn btn-success positive">Update</button>
    </div>
    <h2>Update Account.</h2>
  </div>

  <%= render :partial => "form", :object => f %>
<% end %>
