<div id="side-wrapper">
  <%= render :partial => "#{params["controller"]}/sidebar" %>
</div>

<div class="primary-content">
  <div style="padding: 25px;">
    <%= render :template => "#{params["controller"]}/#{params["action"]}" %>
  </div>
</div>
