<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Welcome to pluspanda.com =)</h2>
    <p>
      You have successfully signed up for this awesome testimonials service.
      <br/> I don't store your password in text form so I have no idea what it is.
      <br/> If you happen to forget your password or have trouble logging in, 
      just email me by hitting 'reply' or send directly to <a href="mailto:jade@pluspanda.com">jade@pluspanda.com</a>
      <br/> I'll get an automatic "forgot" password up shortly, but until then I can help you directly.
    </p>
    <p>
      Login to your fantastic new account from this link: <%= link_to root_path + admin_path %>.
    </p>
    
    <p>Thanks for joining and have a happy day!</p>
    
    - Jade
    <br/>- <a href="http://pluspanda.com">http://pluspanda.com</a>
    <br/>- <a href="http://plusjade.com">http://plusjade.com</a>
  </body>
</html>