

<div class="panda-tags">
  <span>Show Testimonials from: </span>
  <%= @tag_list %>
</div>

<div class="panda-tag-scope">
  <div class="panda-testimonials-list">
    <div class="panda-container list"></div>
  </div>
</div>
