#widget-previewer
  .base-padding
    .btn-group
      %a.btn.btn-primary.js-staging.active{ href: "#", title: "Use the \"staged\" version to preview updates without affecting your live widget." } Staging
      %a.btn.btn-primary.js-production{ href: "#", title: "This widget displays the \"published\" version which appears on your live website." } Production
    #widget-published-wrapper
