%link{ rel: "stylesheet", href: "/codemirror-3.1/lib/codemirror.css" }
%style
  :plain
    .CodeMirror { height:600px }
%link{ rel: "stylesheet", href: "/codemirror-3.1/theme/ambiance.css" }
%script{ src: "/codemirror-3.1/lib/codemirror.js" }
%script{ src: "/codemirror-3.1/mode/xml/xml.js" }
%script{ src: "/codemirror-3.1/mode/css/css.js" }

#layout-editor
  .base-padding
    %button.btn.btn-success.pull-right.js-save Save
    .btn-group.attribute-list

    #derp{style: "margin: 10px 0; position:relative;" }
      #token-list{ style: "position:absolute; right:0" }
      %a.load-original.btn.btn-sm.btn-default{ href: "#" } Reset to Original
    %textarea#code-editor{ style: "width:100%; height:400px;" }

#layout-previewer
  = render partial: "widget_previewer"
