
<% content_for :tabs do %>
<ul> 
  <li class="main"><a href="#main" class="active" rel="tab-main">Widget Preview</a></li> 
  <li class="settings"><a href="#settings" rel="tab-settings">Widget Settings</a></li> 
  <li class="show-css css"><a href="#css" rel="tab-css">Widget CSS</a></li> 
  <li class="tags"><a href="/admin/tags" rel="tab-tags">Set Categories</a></li> 
  <li class="fb-help help"><a href="#help-page" rel="tab-help">(help)</a></li> 
</ul> 
<% end %>
