<div id="side-wrapper">

</div>

<div class="primary-content">
  <div style="padding: 25px;">
    <div style="margin-bottom:20px; min-width:600px">
    <% if current_user.premium %>
      <p style="padding:10px; background:#FFFFAA; line-height:1.5em">
        <strong>Thank you for upgrading to unlimited published testimonials!</strong>
        <br>I appreciate your support and look forward to improving pluspanda over time.
      </p>
    <% else %>
        <p style="padding:10px; background:#FFFFAA; line-height:1.5em">
          <strong>Your account is currently limited to 10 published testimonials.</strong>
          <br>New testimonials are always saved so your data is never lost but you can only ever display 10 testimonials on your website.
        </p>

        <h3>Publish Unlimited Testimonials for $29.99 per year.</h3>
        <p style="margin-bottom:10px">
          As soon as your payment clears I'll update your account to add and save unlimited testimonials.
        </p>
        <p style="margin-bottom:10px">
          Currently this is a manual process so please give it a few minutes for me to do this.
        </p>
        <p style="margin-bottom:10px">
          <b>Paypal Notes:</b>
          <br/> You don't need a paypal account to pay with paypal.
           Paypal will list "amateur" as the business as I used be an ebay seller.
        </p>
      </div>

      <table style="min-width:300px">
        <tr>
          <td>
            <br>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="A8L4AC6E3CAY6">
            <input type="hidden" name="on0" value="email">
            <input type="hidden" name="os0" value="<%= current_user.email %>" maxlength="200">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
          </td>

          <td>
            <br>
            <form action="https://authorize.payments.amazon.com/pba/paypipeline" method="post">
              <input type="hidden" name="amount" value="USD 29.99" >
              <input type="hidden" name="processImmediate" value="0" >
              <input type="hidden" name="signatureMethod" value="HmacSHA256" >
              <input type="hidden" name="accessKey" value="11SEM03K88SD016FS1G2" >
              <input type="hidden" name="collectShippingAddress" value="0" >
              <input type="hidden" name="recurringFrequency" value="1 year" >
              <input type="hidden" name="description" value="pluspanda.com testimonials yearly subscription" >
              <input type="hidden" name="amazonPaymentsAccountId" value="WAKPGHROJPXZ53M4NILK867AZ26T91AS5C7TQ9" >
              <input type="hidden" name="cobrandingStyle" value="logo" >
              <input type="hidden" name="signatureVersion" value="2" >
              <input type="hidden" name="immediateReturn" value="1" >
              <input type="hidden" name="signature" value="hGw9kIX7ifLGK7UrqK+JyTQcrGZ3EKRIn4hDSq03Ek4=" >
              <input type="image" src="http://g-ecx.images-amazon.com/images/G/01/asp/golden_large_subscribe_withlogo_whitebg.gif" border="0">
            </form>
          </td>
          <td>

          </td>
        </tr>
      </table>
    <% end %>
  </div>
</div>