<ul class="grandchild_nav"> 
  <li class="main"><a href="/admin/testimonials/install" class="active" rel="tab-main">Main Panel</a></li> 
  <li class="help"><a href="#help" rel="tab-help">(help)</a></li> 
</ul> 

<div class="primary-content">

  <div id="tab-main" class="tab-content">
    <% if @user.email.empty? %>
    <h2 style="text-align:center; text-decoration:underline; color:#0066cc;">
     <img src="/static/images/admin/warning.png" />
      Remember to Save Your Account by Entering Your Email!
     <img src="/static/images/admin/warning.png" />
     <br/>Otherwise this code will expire in 24 hours =(
    </h2>
    <% end %>

    <div class="install-page">
      <h4>1) Place This Code Where You Want Your Testimonials to Display:</h4>
      <textarea><%=h '<div id="plusPandaYes"></div>' %></textarea>

      <h4>2) Place This Code Before The Closing Body Tag at the Bottom of Your Page:</h4>
      <p>
        <textarea><%= embed_code(@user.apikey) %></textarea>
      </p>
      
      <h4>Check out your sample page!</h4>
      <p style="margin-bottom:15px">
        <a href="/admin/staging" target="_blank">Sample Page</a>. You can view the page source to see where your code should go.
      </p>
      
      
      <h2>Coming Soon: Export Your Layout</h2>
      We are working on adding exporting of all html,css, javascript and data assets
      to upload onto your own page.
      <br/> Please email <a href="mailto:plusjade@gmail.com">plusjade@gmail.com</a> if this is something you would be interested in, thanks!
    </div>
  
  </div>
  
  <style type="text/css"> 
    .install-page textarea {
      font-size:16px;
      font-weight:bold;
      background-color:#FFFFCC;
      
    }
  </style>
  
  <div id="tab-help" class="tab-content">
    No help here yet!
  </div>

  <div style="clear:both;margin-top:25px;text-align:center;">
    <h2>Success!</h2>
    <span style="color:#555">(yup that's it)</span>
  </div>

</div>


