.base-padding
  .install-page
    %h3 Place This Code Where You Want Your Testimonials to Display:
    %p
      %textarea{ style: "height:200px;" }= h "<div id=\"plusPandaYes\"></div>\n#{ embed_code(@user.apikey) }"
    %h3 TIP: Check out your sample page!
    %p
      %a{href: "/users/#{ current_user.id }/widget/published", target: "_blank"}> Sample Page
    %p You can view the page source to see where your code should go.

:css
  h2, h3 {
    color:#444;
    margin-bottom:15px;
    }
    p {
      margin-bottom:35px;
      line-height:1.5em;
      }
  .tab-content {
    width:750px;
  }
  .install-page textarea {
    width:100%;
    display:block;
    padding:10px;
    font-size:16px;
    font-weight:bold;
    font-family:courier;
    color:#444;
    background-color:#FFFFCC;
    
  }