

<ul class="grandchild_nav"> 
  <li class="main"><a href="/admin/testimonials/install" class="active" rel="tab-main">Main Panel</a></li> 
  <li class="help"><a href="#help" rel="tab-help">(help)</a></li> 
</ul> 

<div class="primary-content">

  <div id="tab-main" class="tab-content">
    <% if @user.email.empty? %>
    <h2 style="text-align:center; text-decoration:underline; color:#0066cc;">
     <img src="/static/images/admin/warning.png" />
      Remember to Save Your Account by Entering Your Email!
     <img src="/static/images/admin/warning.png" />
     <br/>
     Otherwise this code will expire in 24 hours =(
    </h2>
    <% end %>

    <div class="install-page">
      <div class="info">
        Place the install code in the exact place on your page where you want your widget to be displayed.
      </div>

      <h4>Standard</h4>
      <div>The standard install code is good for all websites!</div>
      <textarea><%= embed_code(@user.apikey) %></textarea>

      <h4>Developer</h4>
      <div>
        Pluspanda uses the jquery javascript framework, which gets loaded by the standard embed code.
        If your website is already using jquery you can use the following code which omits loading jquery again.
      </div>
      <textarea><%= embed_code(@user.apikey, false) %></textarea>

      
      <br/><br/>
      <h2>Coming Soon: Export Your Layout</h2>
      We are working on adding exporting of all html,css, javascript and data assets
      to upload onto your own page. Please email <a href="mailto:plusjade@gmail.com">plusjade@gmail.com</a> if this is something you would be interested in, thanks!
    </div>
  
  </div>
  
  
  <div id="tab-help" class="tab-content">
    No help here yet!
  </div>

  <div style="clear:both;margin-top:25px;text-align:center;">
    <h2>Success!</h2>
    <span style="color:#555">(yup that's it)</span>
  </div>

</div>


