
<ul class="grandchild_nav"> 
  <li class=" main"><a href="/admin/testimonials/manage" class="active" rel="tab-main">Main Panel</a></li> 
  <li class=" create"><a href="/admin/testimonials/manage/edit?id=0" rel="tab-create">Create New Testimonial</a></li> 
  <li class="fb-help help"><a href="#help-page" rel="tab-help">(help)</a></li> 
</ul> 

<div class="primary-content">

  <div class="admin-new-testimonials-list">  
    <?php echo $testimonials?>
  </div>

  <div id="help-page">
    <div class="help-page-inner">
      <h3>Adding &amp; Editing Testimonials.</h3>
      <div class="indent">
        <h4>Adding a New Testimonial.</h4>
        <div class="indent">
          Use the big green "create new" button and wait for the testimonial creator to load.
        </div>
        
        <h4>Editing a Testimonial.</h4>
        <div class="indent">
          Each testimonial is listed as a table row. You can edit, update, and delete testimonials, lock testimonials so they can no longer be edited,
          and publish/unpublish testimonials.
        </div>

        <h4>Reordering Testimonials.</h4>
        <div class="indent">
          Use the blue "move" icons at the leftmost end of each row to move each testimonial up and down relative to other testimonials.
          Be sure and click the big green "save positions" button to save the current positions.

          <br/> The top table header titles are clickable and will re-order the testimonials based on the clicked field.
        </div>
        
        
        <h4>Linking to an Editable Testimonial.</h4>
        <div class="indent">
          Each testimonial row has a "share" link. 
          The panel reveals a sharable link that you can give to your customer to freely edit that testimonial.
        </div>
      </div>
    </div>
  </div>

</div>


