:scss
  #manage-pane {
    .panel-1 {
      display: inline-block;
      width: 10%;
      vertical-align: top;
    }
    .panel-2 {
      display: inline-block;
      width: 90%;
      vertical-align: top;
    }
    .table-wrapper-scrollable {
      overflow: auto;
      height: 600px;
      table {
        th {
          text-align: center;
        }
      }
      textarea {
        border: 0;
        border-radius: 0;
        box-shadow: none;
        background-color: transparent;
        padding: 0;
        font-size: 11px;
      }
    }
    .manage-testimonial-filters {
      margin-top: 10px;
    }
    .btn-toolbar {
      margin: 10px 0;
    }
  }
  .workspace {
    position: relative;
  }
.base-padding
  #manage-pane
