
<div id="side-wrapper">

  <ul id="gallery-links" class="sub-tabs">
  <% @themes.each_with_index do |theme, i| %>
    <li><%= link_to theme, "/admin/theme/gallery/#{theme}", :rel => i %></li>
  <% end %>
  </ul>
  

  
  <div class="options-box">

  </div>
</div>

<div class="primary-content">

  <%= form_for Theme.new, :url => "/admin/theme", :html => {:style => "display:none"} do |f| %>
    <%= f.hidden_field :name, :readonly => "readonly" %>
    <button type="submit">Install and Stage This Theme!</button>
  <% end %>  

  <div id="theme-gallery">&#160;</div>

</div>

<style type="text/css">
  #gallery-links{
    list-style:none;
    margin-bottom:10px;
  }
  #gallery-links li{
   display:inline; 
   margin-right:5px;
  }
  #gallery-links li a.active, #gallery-links li a:hover {
    font-weight:bold;
    color:green;
  }
  
  #new_theme {
    margin-bottom:10px;
  }
  #new_theme button {
    font-size:14px;
    font-weight:bold;
  }
</style>