


div.t-builder-wrapper .panda-image{
  clear:both;
  padding:7px 15px;background:#555;color:#fff;
  -moz-border-radius-topleft:10px;
  -moz-border-radius-topright:10px;
  -webkit-border-top-left-radius:10px;
  -webkit-border-top-right-radius:10px;
  }
div.t-builder-wrapper .panda-image input{color:#fff;}
  
div.t-builder-wrapper .t-view{
  clear:both;
  overflow:auto;
  padding:20px;
  background:#f7f7f7;
  -moz-border-radius-bottomleft:10px;
  -moz-border-radius-bottomright:10px;
  -webkit-border-bottom-left-radius:10px;
  -webkit-border-bottom-right-radius:10px;
  margin-bottom:15px;
  border-right:2px solid #ddd;
  border-bottom:2px solid #ddd;
  }
   div.t-builder-wrapper  .t-details {
    width:190px;
    float:left;
    font-size:11px;
  }  
   div.t-builder-wrapper  .t-details .image{
    width:125px;
    height:125px;
    margin-bottom:7px;
    background:#eee;
    border:5px solid #ccc
  }
   div.t-builder-wrapper .t-content {
    width:510px;
    float:right;
    overflow:hidden;
  }  
  div.t-builder-wrapper .t-rating-wrapper{
    margin-bottom:5px;
    overflow:auto;
  }
  div.t-builder-wrapper .rating-fallback{
    width:100%;
    text-align:right;
  }
div.t-builder-wrapper .t-body {
    clear: both;
    padding: 10px;
    background: #E6F5FC;
    margin: 2px 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    }
div.t-builder-wrapper .t-body textarea{  
width:99%;
height:200px;

}
div.t-builder-wrapper .t-date{float:right;}

 div.t-builder-wrapper .t-details span.label{
  display:block;
  margin:5px 0 3px 0;
  font-weight:bold;
}  
 div.t-builder-wrapper .t-details input{
  border:0;
  border:1px solid #ccc;
  width:150px !important;
}  
 div.t-builder-wrapper .t-details input.hide,
 div.t-builder-wrapper .testimonial-wrapper select.hide {
  border:0;
  display:inline;
}      

div.t-builder-wrapper .t-name input{font-weight:bold;}
div.t-builder-wrapper .t-position input{width:80px; font-style:italic;}
div.t-builder-wrapper .t-company input{width:110px}
div.t-builder-wrapper .t-url{display:block;}



/* nice star rating */

div.t-builder-wrapper  #panda-star-rating{
float:right;
width:160px; height:33px; margin-bottom:10px;
background: #fff url('/static/images/common/widget/rating-select.png') no-repeat 0 0;
border:1px solid #eee;
-webkit-border-radius:5px;
-moz-border-radius:5px;
}
div.t-builder-wrapper  .panda-rating-text{
float:right;
margin-right:10px;
padding-top:7px;
font-size:1.1em;
font-weight:bold;
}
div.t-builder-wrapper  #panda-star-rating._1{background-position: 0px -48px;}
div.t-builder-wrapper  #panda-star-rating._2{background-position: 0px -95px;}
div.t-builder-wrapper  #panda-star-rating._3{background-position: 0px -142px;}
div.t-builder-wrapper  #panda-star-rating._4{background-position: 0px -189px;}
div.t-builder-wrapper  #panda-star-rating._5{background-position: 0px -236px;}
div.t-builder-wrapper  #panda-star-rating div{
width:32px;
height:40px;
float:left;
cursor:cursor;
cursor:pointer;
}


/* CROP STUFF */
.crop-wrapper{
  width:650px;
  padding:10px;
  overflow:auto;
}
.crop-image{
  width:500px;float:left;
}
.crop-preview{
  width:130px;float:right;
}
.crop-preview-holder{
  width:100px;
  height:100px; 
  border:2px solid #ddd; 
  overflow:hidden;
}

