html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, cite, code, del, dfn, em, font, img, ins, small, strike, strong, sub, sup, tt, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* general styling commands */
html {
  min-width: 800px !important;
  height: 100%; }

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
  min-width: 800px;
  height: 100%; }

h1, h2, h3, h4, h5, h6 {
  color: #333333; }

h1 {
  font-size: 28px;
  margin-bottom: 10px; }

h2 {
  font-size: 22px;
  margin-bottom: 10px; }
  h2.head {
    border-bottom: 2px solid #d6d6d6; }

h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
  color: #222222; }

h4 {
  font-size: 15px;
  margin: 10px 0;
  text-transform: uppercase;
  color: #333333;
  padding: 0px; }

h5 {
  font-size: 15px;
  margin: 10px 0;
  text-transform: uppercase;
  color: #999999;
  padding: 0px; }

h6 {
  font-size: 14px;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #999999; }

.sub-head {
  border-bottom: 1px dashed #d6d6d6; }

a, button {
  outline: 0; }

ol {
  list-style-type: lower-roman; }

dt {
  font-weight: bold;
  text-decoration: underline;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px; }

dd {
  font-size: 12px;
  color: #666666;
  padding: 5px 0 10px 10px;
  margin: 0 0 0 10px; }

div.textual {
  font-family: Verdana, Helvetica, sans-serif;
  color: #444444;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.6em; }

.even {
  background-color: #eaeaea; }

.indent {
  margin: 15px;
  line-height: 1.5em;
  color: #444444; }

label {
  font-weight: bold; }

iframe {
  border: 1px dashed #555555; }

#login-wrapper {
  width: 320px;
  margin: 50px auto 10px auto;
  order: 10px solid #d6d6d6;
  padding: 15px 30px;
  -webkit-border-radius: 10px;
  -moz-box-shadow: 0px 2px 8px #cccccc;
  -webkit-box-shadow: 0px 2px 8px #cccccc;
  box-shadow: 0px 2px 4px #cccccc; }
  #login-wrapper h1 {
    text-align: center;
    padding-bottom: 10px;
    font-size: 28px; }
  #login-wrapper button {
    margin: auto;
    width: 80px; }

.user-status {
  margin: auto;
  line-height: 1.6em;
  width: 450px;
  padding: 10px;
  text-align: center;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px; }

input.save-account {
  display: inline-block;
  padding: 3px !important;
  border: 1px solid #333333;
  font-size: 12px;
  color: green;
  background: white; }
  input.save-account:hover {
    background: orange;
    color: white;
    border: 1px solid white;
    cursor: cursor;
    cursor: pointer; }

.user-status.guest {
  background: #ffffcc; }
.user-status.owner {
 }
.user-status b {
  font-size: 1.2em; }

/* base layout */
#wrapper {
  min-width: 800px;}

/* top black links */
#top {
  min-width: 900px;
  font-size: 0.9em;
  background:#90D1BF url('/images/admin/panda.png') no-repeat 1% 90%;
  overflow: hidden; }
  #top #top_links {
    text-align:right;
    list-style: none;
    margin-bottom:40px;
    padding: 5px 0; 
    }
    #top #top_links  li {
      display: inline;
      color:#486A62;
      font-weight:bold;
      margin:0; }
      #top #top_links  li a {
        padding: 5px 10px;
        margin:0;
        font-weight:bold;
        color:inherit;
        }
        #top #top_links  li a:hover {
          background: #F7FFF8;
          color:#486A62; }

#main-wrapper {
  min-width: 850px;
  min-height: 350px; 
  padding:0;
  }
            
#side-wrapper {
  float:left;
  width:15%;
  height:100%;
  min-height: 400px;
}

.options-box {
  clear:both;
  padding:20px;
}
.primary-content {
  float:left;
  width:80%;
  height:100%;
  min-height: 400px;
  padding: 25px;
  border-left:1px solid #E2EED6;
  background: transparent; }

/* main parent navigation */

ul#parent_nav {
  min-width: 800px;
  list-style: none;
  padding: 16px 0;
  padding-left:21%;
  border-bottom:1px solid #486A62;
  }
  ul#parent_nav li {
    display: inline; }
    ul#parent_nav li a {
      position: relative;
      top: 5px;
      padding: 10px 17px;
      margin-right: 5px;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-topright: 5px;
      -webkit-border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      background: #B2E4C9;
      border-bottom:1px solid #B2E4C9;
      color: #486A62;
      font-size: 13px;
      text-decoration: none;
      font-weight: bold; }
      ul#parent_nav li a:hover, ul#parent_nav li a.active {
        padding: 11px 17px;
        background: white;
        border:1px solid #486A62;
        border-bottom: 1px solid white;
        text-decoration: none;
        }
        
              
/* sub-tabs navigation */
ul.sub-tabs {
  list-style: none;
  padding:25px 0 20px 0;
  }
  ul.sub-tabs li {
    display:block;
    clear:both;
    margin-bottom:4px;
    }
    ul.sub-tabs a {
      display:block;
      padding: 12px 17px;
      background:#E2EED6;
      color: #486A62;
      font-size: 13px;
      text-decoration: none;
      border-radius:3px 0 0 3px;
      font-weight: bold; }
      ul.sub-tabs li a:hover {}
      ul.sub-tabs li a.active {
        background: #486A62;
        color:#E2EED6;
        position:relative;
        left:1px;
        }

/* footer */
#footer {
  clear: both;
  margin: 20px 0;
  padding: 10px 0;
  padding-left: 20px;
  font-size: 10px;
  text-align: center; }

/* a bit of reusable element formatting */
.round-box-top {
  clear: both;
  padding: 7px 15px;
  background: #555555;
  color: white;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px; }
  .round-box-top a.close {
    float: right;
    color: white;
    text-decoration: none; }

.panda-image a.close {
  float: right;
  color: white;
  text-decoration: none; }

.round-box-top a.close:hover, .panda-image a.close:hover {
  text-decoration: underline; }

.round-box-body {
  clear: both;
  overflow: auto;
  padding: 20px;
  background: #f7f7f7;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  margin-bottom: 15px;
  border-right: 2px solid #dddddd;
  border-bottom: 2px solid #dddddd; }

/* tables */
table {
  font: 11px/24px Verdana, Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 0; }

th {
  text-align: left;
  background-color: #333333;
  padding: 5px;
  text-transform: uppercase;
  color: white; }

td {
  text-align: left;
  padding: 3px; }

.primary-content tr:hover {
  background-color: #ffffcc; }

table.tablesorter {
  font-family: arial;
  background-color: #cdcdcd;
  font-size: 8pt;
  width: 100%;
  text-align: left;
  margin-top: 10px;
  margin-right: 0pt;
  margin-bottom: 25px;
  margin-left: 0pt; }
  table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    background-color: #d6d6d6;
    border: 1px solid white;
    font-size: 8pt;
    padding: 4px; }
  table.tablesorter thead tr .header {
    background-image: url("/images/admin/bg.gif");
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer; }
  table.tablesorter tbody td {
    color: #3d3d3d;
    padding: 4px;
    background-color: white;
    vertical-align: top; }
  table.tablesorter tbody tr.odd td {
    background-color: #f0f0f6; }
  table.tablesorter thead tr .headerSortUp {
    background-image: url("/images/admin/asc.gif"); }
  table.tablesorter thead tr .headerSortDown {
    background-image: url("/images/admin/desc.gif");
    background-color: #b7b7b7; }
  table.tablesorter thead tr .headerSortUp {
    background-color: #b7b7b7; }

/* ajax responses */
#status-bar {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 890px;
  width: 100%;
  z-index: 9995;
  margin: 0;
  padding: 0;
  font-size: 12px;
  text-align: center; }
  #status-bar div#submitting {
    margin: auto; }
  #status-bar div.responding {
    margin: auto;
    width: 350px; }
  #status-bar div#submitting {
    width: 180px;
    padding: 3px 20px;
    background: #09a0fb url("/images/admin/circle.gif") no-repeat 80% 50%;
    color: white;
    height: 55px;
    text-align: left; }
    #status-bar div#submitting strong {
      display: block;
      margin-top: 20px;
      font-size: 1.2em; }

.loading {
  width: 200px;
  margin: auto;
  margin-top: 30px;
  padding-top: 45px;
  text-align: center;
  color: #222222;
  background: url("/images/loading.gif") no-repeat top center; }
  .loading.white {
    color: white; }

div.responding.active {
  padding: 5px;
  font-size: 14px;
  color: white;
  font-weight: bold; }
  div.responding.active.good {
    background: green;
    color: white; }
  div.responding.active.bad {
    background: red;
    color: white; }
  div.responding.active.warn {
    background: orange;
    color: white; }
div.jade_form_status_box {
  font-weight: bold;
  color: black;
  font-size: 1.2em;
  margin: 10px;
  padding: 10px;
  text-align: center;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px; }
  div.jade_form_status_box.box_positive {
    background: green;
    border: 1px solid green;
    color: white; }
  div.jade_form_status_box.box_negative {
    background: #fad6d6;
    border: 1px solid #cc0000; }
div.ajax_loading {
  width: 100%;
  height: 90px;
  background: transparent url("/images/load.gif") no-repeat 50% 50%;
  text-align: center; }

/* form status */
fieldset span.jade_required_star {
  color: red; }
fieldset.jade_error {
  padding: 10px !important;
  background: #fad6d6 !important;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px; }
fieldset span.error_msg {
  display: block;
  color: red; }

#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left; }
  #facebox .popup {
    position: relative;
    border: 3px solid rgba(0, 0, 0, 0);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0 0 18px rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.9); }
  #facebox .content {
    display: table;
    width: 370px;
    padding: 10px;
    background: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }
    #facebox .content > p:first-child {
      margin-top: 0; }
    #facebox .content > p:last-child {
      margin-bottom: 0; }
  #facebox .close {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 2px;
    background: transparent;
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    font-size: 12px; }
    #facebox .close img {
      opacity: 0.3; }
    #facebox .close:hover {
      color: red; }
  #facebox .loading {
    text-align: center; }
  #facebox .image {
    text-align: center; }
  #facebox img {
    border: 0;
    margin: 0; }

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%; }

.facebox_hide {
  z-index: -100; }

.facebox_overlayBG {
  background-color: black;
  z-index: 99; }

#editor-wrapper fieldset {
  margin-bottom: 7px; }
#editor-wrapper .panda-image {
  clear: both;
  text-align: center;
  padding: 7px 15px;
  background: #555555;
  color: white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0; }
  #editor-wrapper .panda-image input {
    color: white; }
#editor-wrapper .t-view {
  clear: both;
  overflow: auto;
  padding: 20px;
  background: #f7f7f7;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 3px #cccccc;
  -webkit-box-shadow: 0 0 3px #cccccc;
  box-shadow: 0 0 3px #cccccc, inset 0 0 -3px #eeeeee;
  margin-bottom: 15px; }
  #editor-wrapper .t-view #t-view-inner {
    width: 725px;
    margin: auto; }
#editor-wrapper .t-details {
  width: 190px;
  float: right;
  font-size: 11px; }
#editor-wrapper .t-details .image {
  width: 125px;
  height: 125px;
  margin-bottom: 7px;
  background: #eeeeee;
  border: 5px solid #cccccc; }
#editor-wrapper .t-content {
  width: 510px;
  float: left;
  overflow: hidden; }
#editor-wrapper .t-rating-wrapper {
  margin-bottom: 5px;
  overflow: auto; }
#editor-wrapper .rating-fallback {
  width: 100%; }
#editor-wrapper .t-body {
  clear: both;
  padding: 10px;
  background: #e6f5fc;
  margin: 2px 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
  #editor-wrapper .t-body textarea {
    width: 99%;
    height: 200px; }
#editor-wrapper .t-details label {
  display: block;
  margin-bottom: 5px; }
#editor-wrapper .t-content label {
  display: inline-block !important;
  width: 150px;
  font-weight: bold;
  margin: 0;
  padding: 0; }
#editor-wrapper .t-content input {
  border: 0;
  border: 1px solid #cccccc;
  width: 200px !important; }
#editor-wrapper .t-details input.hide, #editor-wrapper .testimonial-wrapper select.hide {
  border: 0;
  display: inline; }
#editor-wrapper .t-name input {
  font-weight: bold; }
#editor-wrapper .t-position input {
  width: 80px;
  font-style: italic; }
#editor-wrapper .t-company input {
  width: 110px; }
#editor-wrapper .t-url {
  display: block; }
#editor-wrapper #panda-star-rating {
  float: right;
  width: 160px;
  height: 33px;
  margin-bottom: 10px;
  background: white url("/images/rating-select.png") no-repeat 0 0;
  border: 1px solid #eeeeee;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
  #editor-wrapper #panda-star-rating._1 {
    background-position: 0px -48px; }
  #editor-wrapper #panda-star-rating._2 {
    background-position: 0px -95px; }
  #editor-wrapper #panda-star-rating._3 {
    background-position: 0px -142px; }
  #editor-wrapper #panda-star-rating._4 {
    background-position: 0px -189px; }
  #editor-wrapper #panda-star-rating._5 {
    background-position: 0px -236px; }
  #editor-wrapper #panda-star-rating div {
    width: 32px;
    height: 40px;
    float: left;
    cursor: cursor;
    cursor: pointer; }
#editor-wrapper .panda-rating-text {
  float: right;
  margin-right: 10px;
  padding-top: 7px;
  font-size: 1.1em;
  font-weight: bold; }
#editor-wrapper #data {
  clear: both;
  margin-bottom: 10px; }
  #editor-wrapper #data td {
    width: 400px;
    padding-bottom: 3px; }

#admin-table {
  width: 100%; }
  #admin-table td {
    text-align: center; }
    #admin-table td.t-publish {
      border: 1px solid #ffff99;
      background: #ffffcc;
      font-weight: bold; }

.crop-wrapper {
  width: 650px;
  padding: 10px;
  overflow: auto; }

.crop-image {
  width: 500px;
  float: left; }

.crop-preview {
  width: 130px;
  float: right; }

.crop-preview-holder {
  width: 100px;
  height: 100px;
  border: 2px solid #dddddd;
  overflow: hidden; }

button {
  cursor: pointer; }

/* POSITIVE */
button.positive, .buttons a.positive {
  color: white;
  text-decoration:none;
  background: #d1f0b9 url("/images/common/gradients.jpg") repeat-x 0px -205px;
  border: 1px solid #bde99c; }

.buttons a.positive:hover, button.positive:hover, .buttons a.positive:active {
  background: orange url("/images/common/gradients.jpg") repeat-x 0px -250px;
  border: 1px solid orange; }

/* NEGATIVE */
.buttons a.negative, button.negative {
  background: #333333 url("/images/common/gradients.jpg") repeat-x 0px -15px;
  border: 1px solid black;
  color: white; }

.buttons a.negative:hover, button.negative:hover {
  background-attachment: fixed;
  background: #d52020 url(../images/gradients.jpg) repeat-x 0px -465px;
  border: 1px solid #cc0000;
  color: white; }

.buttons a.negative:active {
  background-color: #d12f19;
  border: 1px solid #d12f19;
  color: white; }

#theme-publish {
  float:right;
  padding: 7px 10px !important;
  border: 1px solid #bde99c;
  font-weight: bold;
  font-size: 16px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}
  
ul.tab-beans {
  list-style:none;
  ext-align:center;
  padding:4px 0 ;
  margin-bottom:20px;
}
ul.tab-beans li{ 
  display:inline;
}
ul.tab-beans li a{ 
  padding:5px 12px;
  margin:0 2px;
  background:#B2E4C9;
  color:#486A62;
  text-decoration:none;
  font-size:14px;
  font-weight:bold;
  border-radius:5px;
}
ul.tab-beans li a.active{ 
  background:#610000;
  color:#F7FFF8;
}
  
#tab-settings {
  position:relative;
}  
#tab-settings fieldset{
  padding:15px 0;
}
#tab-settings button {
  padding: 7px 10px !important;
  border: 1px solid #bde99c;
  font-weight: bold;
  font-size: 16px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

#installed-themes {
  list-style: none;
  padding: 5px; }
  #installed-themes li {
    margin-right: 10px;
    display: inline; }
    #installed-themes li.theme a {
      padding: 3px 5px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px; }
      #installed-themes li.theme a:hover, #installed-themes li.theme a.active {
        background: orange; }

div.editor-panel {
  position:relative;
  height:40px;
  line-height:40px;
  }
  div.editor-panel button {
    position:absolute;
    top:0;
    right:0;
    padding: 7px 10px !important;
    border: 1px solid #bde99c;
    font-weight: bold;
    font-size: 16px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px; }
  div.editor-panel ul {
  }
    div.editor-panel ul li {
      display:inline; }

ul.tokens {

}
ul.tokens input {
  width: 100%;
  padding: 6px 4px;
  font-weight: bold;
  font-size: 14px;
  color: green;
  border: 0; }

#data-description, .data-description {
  margin-bottom: 15px;
  line-height:1.5em;
  color: #486A62; }
          
.share-data {
  width: 600px;
  height: 300px;
  text-align: center; }
  .share-data input {
    width: 500px;
    font-size: 1.2em;
    padding: 5px; }

table.t-data {
  margin: 0;
  padding: 0;
  margin-bottom: 20px; }
  table.t-data tr td {
    border-bottom: 1px dashed #cccccc;
    background: white; }
  table.t-data tr.off td {
    background: #eeeeee;
    color: #777777; }
  table.t-data thead tr th, table.t-data tfoot tr th {
    background-color: #610000;
    padding: 4px 4px 4px 6px;
    border-right: 1px solid white; }
  table.t-data thead tr .header {
    background-image: url("/images/admin/bg.gif");
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer; }
  table.t-data tbody td {
    padding: 4px 4px 4px 6px;
    vertical-align: top;
    border-right: 1px dashed #cccccc; }
  table.t-data tbody tr.odd td {
    background-color: #f0f0f6; }
  table.t-data thead tr .headerSortUp {
    background-image: url("/images/admin/asc.gif"); }
  table.t-data thead tr .headerSortDown {
    background-image: url("/images/admin/desc.gif");
    background-color: #555555; }
  table.t-data thead tr .headerSortUp {
    background-color: #555555; }

td.move img {
  width: 18px;
  height: 18px;
  margin-top: 2px;
  cursor: move; }
td.edit {
  text-align: center; }

#collector-form-url {
  width: 650px;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  border: 1px solid #eeeeee;
  background: #ffff99; }

.install-page div {
  padding: 5px;
  margin-bottom: 5px;
  font-size: 0.9em; }
.install-page .info {
  margin-bottom: 10px;
  background: #ffffcc; }
.install-page textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px; }

.questions-wrapper p {
  margin: 5px;
  padding: 5px;
  background: #eeeeee; }

/*bootstrap customizations */

a.btn {
  text-decoration:none;
}