/* 	CSS Rest File - Used to Reset Default Browser Styling 	*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}



/*Change your font here */
body {
  background: #EAEAEA;
  font-family: Arial, Helvetica, sans-serif;
}
h1,h2,h3,h4,h5,h6    { color: #333333;}
h1{font-size:1.6em;}
h2{font-size:1.4em;}
h3{font-size:1.2em;}
h4{font-size:1em;}

a, button {outline:0;}
p     { font-size: 12px;padding: 0px;line-height: 24px;margin-top: 0px;margin-right: 0px;margin-bottom: 12px;margin-left: 0px;color: #666666;}

ol     { list-style-type: lower-roman;}
dt     { font-weight: bold;text-decoration: underline;font-size: 14px;margin-top: 5px;margin-bottom: 5px;} 
dd     {
  font-size: 12px;
  color: #666666;
  padding-top: 5px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
}
label {font-weight:bold;}

/* ----------------------------
    NOTIFICATIONS
------------------------------- */
.success, .error, .information, .attention{
  margin: 10px 0;
  background-repeat: no-repeat;
  background-position: 10px center;
  padding: 10px;
  padding-left: 60px;
  font-size: 12px;
  height: 30px;
  font-weight: bold;
  line-height: 30px;
}

.success         { background-color: #D5FFCF; border: 1px solid #97FF88; color: #009900; background-image: url('/static/images/admin/accept.png');}
.error           { background-color: #FFCFCF;border: 1px solid #FF9595;color: #CC3300; background-image: url('/static/images/admin/delete.png');}
.information       { background-color: #DCE3FF;border: 1px solid #93A8FF;color: #0033FF; background-image: url('/static/images/admin/information.png');}
.attention         { background-color: #FFFBCC;border: 1px solid #FFF35E;color: #C69E00; background-image: url('/static/images/admin/warning.png');}

.close-notification          {
  width: 16px;
  height: 16px;
  position: absolute;
  background: url('/static/images/admin/close.png') no-repeat;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.even          {
  background-color: #EAEAEA;
}

/* ----------------------------
    LAYOUT
------------------------------- */
.logo {
  position:absolute;
  top:0; left:20px;
  width:120px;
  height:15px;
  padding: 0px 0 20px 0;
  background: #396033;
  -moz-border-radius-bottomleft:5px;
  -moz-border-radius-bottomright:5px;
  -webkit-border-bottom-left-radius:5px;
  -webkit-border-bottom-right-radius:5px;
  }
  .logo h1 {
    margin: 0;
    margin-top:10px;
    padding: 0;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
   }
    .logo h1 a {
      color: #fff; font-size:12px;}
      .logo h1 a:hover {
        color: #ccc; }

        
#header  {
margin:0 auto;
width:750px;
height: 80px;
background:transparent url('/static/images/admin/panda.png') no-repeat 0 0; 
overflow:auto;
}
  
  #header div {
    margin-top: 60px;
    margin-left:200px;
    padding:10px 0;
  }
  #header div a{
    padding:10px;
    background:#eee;
    text-decoration:none;
  }
  #header div a:hover,
  #header div a.active{
    background:#fff;
    font-weight:bold;
    border-right:2px solid #d6d6d6;
    
  }
#content_wrapper {
  margin:0 auto;
  padding: 20px 50px;
  clear: both;
  width:750px;
  min-height:400px;
}

/* ----------------------------
    FOOTER
------------------------------- */
#panda-powered{
  clear: both;
  margin: 20px auto;
  padding:10px;
  text-align:center;
  
}
#panda-powered img{display:block;margin:auto;}
#panda-powered h1{margin:10px 0;}
#panda-powered a{color:#333}
#panda-powered a:hover{text-decoration:none}


#footer  {
  clear: both;
  margin-bottom:20px;
  padding: 10px;
  font-size: 10px;
  text-align:center;
}
/* ----------------------------
    FORMS
------------------------------- */
form  label   {
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 12px;
  display: block;
  margin-top: 12px;
}

form p       {
  padding: 0px;
  margin: 0px;
}

form .input {
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
  border: 1px solid #CCCCCC;
  padding: 7px;
  background-color: #F3F3F3;
  
  }
form select {
  padding: 0px;
  margin: 0px;
}

form .checkbox {
  padding: 0px;
  height: 15px;
  width: 18px;
  margin-top: 0px;
  margin-right: 5px;
  margin-bottom: 0px;
  margin-left: 5px;
}
form .select  {
  width: 20%;
  padding: 2px;
  margin: 0px;
}
form .radio    {
  height: 15px;
  width: 15px;
  padding: 0px;
  margin-top: 0px;
  margin-right: 5px;
  margin-bottom: 0px;
  margin-left: 5px;
}
.styled_textarea        {
  border: 1px solid #d6d6d6;
  padding: 3px;
  margin-bottom: 10px;
  background-color: #F3F3F3;
}
input:focus, textarea:focus    {
  background-color: #FFFFCC;
  border: 1px solid #999999;
}



/* 
 * testimonial form interface
 */

.top-message{
  margin:20px 0;
  padding:10px;
  text-align:center;
  -webkit-border-radius:7px;
}      
.client-add-wrapper{}



/* QUESTIONS STUFF */


/* This div isn't entirely necessary but good for getting the side arrows vertically centered */
.slider-wrap { 
  margin: 20px 0;
  position: relative;
  width: 100%;
}
 /* This is the viewing window */
.stripViewer {
  position: relative;
  width: 730px; 
  height: 250px;
  margin: auto;
  clear: both;
  overflow: hidden; 
  background:#f1f1f1;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
}

/* This is the big long container used to house your end-to-end divs. Width is calculated and specified by the JS  */
.stripViewer .panelContainer { 
  position: relative;
  left: 0; top: 0;
  width: 100%;
  list-style-type: none;
  /* -moz-user-select: none; // This breaks CSS validation but stops accidental (and intentional - beware) panel highlighting in Firefox. Some people might find this useful, crazy fools. */
}

/* Each panel is arranged end-to-end */
.stripViewer .panelContainer .panel { 
  float:left;
  width: 730px;
  height: 100%;
  position: relative;
}
.stripViewer .panelContainer .panel .wrapper {padding: 10px 20px;}


/* The nav links */
/* This is the div to hold your nav (the UL generated at run time) */
.stripNav {margin-left:30px; overflow:auto;}
.stripNav ul {list-style: none;}
/* If you change this, be sure to adjust the initial value of navWidth in coda-slider.1.1.1.js */
.stripNav ul li {float: left; margin-right: 2px; }
.stripNav a { 
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 32px;
  background: #ccc;
  color: #333;
  text-decoration: none;
  display: block;
  padding: 0 15px;
}
.stripNav li a:hover,
.stripNav li a.current {
  background: #333;
  color:#fff;
}  


/* The left and right arrows */
.stripNavL, .stripNavR { 
  position: absolute;
  top: 230px;
  text-indent: -9000em;
}
.stripNavL a, .stripNavR a {
  display: block;
  height: 40px;
  width: 40px;
}
.stripNavL {left: 0;}
.stripNavR {right: 0;}
.stripNavL {background: url("/static/images/arrow-left.gif") no-repeat center;}
.stripNavR {background: url("/static/images/arrow-right.gif") no-repeat center;}
  

.t-questions textarea{
  width:350px;
  height:130px;
}  
.t-questions div .info {
  float:right;
  width:290px;
  padding:10px;
  background:#f9f9f9;
  font-size:0.8em;
  -moz-border-radius:7px;
  -webkit-border-radius: 7px;
  border:1px solid #fff;
}



/* PAGES STUFF */
.message-wrapper{
width:500px;
margin:10px auto;
}
#public-top{
  width:315px;
  padding:10px 20px;
  margin:auto;
  margin-top:60px;
  background:#555;
  text-align:center;
  color:#fff;
  -moz-border-radius-topleft:10px;
  -moz-border-radius-topright:10px;
  -webkit-border-top-left-radius:10px;
  -webkit-border-top-right-radius:10px;
  }
#new_testimonial{
  width:315px;
  margin:auto;
  margin-bottom:60px;
  padding:20px;
  background:#f7f7f7;
  -moz-border-radius-bottomleft:10px;
  -moz-border-radius-bottomright:10px;
  -webkit-border-bottom-left-radius:10px;
  -webkit-border-bottom-right-radius:10px;
  border-right:2px solid #ddd;
  border-bottom:2px solid #ddd;
}

#new_testimonial fieldset{
margin-bottom:15px;
}
#new_testimonial fieldset label{

}
#new_testimonial fieldset input{
width:300px;
padding:5px;
font-size:1.2em;
}
#new_testimonial fieldset button{
  margin:auto;
}












/* base layout
 ***********************
 */
#editor-wrapper fieldset { margin-bottom:7px;}
#editor-wrapper .panda-image{
  clear:both;
  padding:7px 15px;background:#555;color:#fff;
  -moz-border-radius-topleft:10px;
  -moz-border-radius-topright:10px;
  -webkit-border-top-left-radius:10px;
  -webkit-border-top-right-radius:10px;
  }
#editor-wrapper .panda-image input{color:#fff;}
  
#editor-wrapper .t-view{
  clear:both;
  overflow:auto;
  padding:20px;
  background:#f7f7f7;
  -moz-border-radius-bottomleft:10px;
  -moz-border-radius-bottomright:10px;
  -webkit-border-bottom-left-radius:10px;
  -webkit-border-bottom-right-radius:10px;
  margin-bottom:15px;
  border-right:2px solid #ddd;
  border-bottom:2px solid #ddd;
  }
  #t-view-inner{
    width:725px;
    margin:auto; 
  }
   #editor-wrapper  .t-details {
    width:190px;
    float:right;
    font-size:11px;
  }  
   #editor-wrapper  .t-details .image{
    width:125px;
    height:125px;
    margin-bottom:7px;
    background:#eee;
    border:5px solid #ccc
  }
   #editor-wrapper .t-content {
    width:510px;
    float:left;
    overflow:hidden;
  }  
  #editor-wrapper .t-rating-wrapper{
    margin-bottom:5px;
    overflow:auto;
  }
  #editor-wrapper .rating-fallback{
    width:100%;
  }
#editor-wrapper .t-body {
    clear: both;
    padding: 10px;
    background: #E6F5FC;
    margin: 2px 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    }
#editor-wrapper .t-body textarea{  
  width:99%;
  height:200px;
}
#editor-wrapper .t-date{ }

 #editor-wrapper .t-details label{
  display:block;
  margin-bottom:5px;
 }
 
 #editor-wrapper .t-content label{
  display:inline-block !important;
  width:150px;
  font-weight:bold;
  margin:0;
  padding:0;
}  
 #editor-wrapper .t-content input{
  border:0;
  border:1px solid #ccc;
  width:200px !important;
}  
 #editor-wrapper .t-details input.hide,
 #editor-wrapper .testimonial-wrapper select.hide {
  border:0;
  display:inline;
}      

#editor-wrapper .t-name input{font-weight:bold;}
#editor-wrapper .t-position input{width:80px; font-style:italic;}
#editor-wrapper .t-company input{width:110px}
#editor-wrapper .t-url{display:block;}


/* nice star rating
 ***********************
 */
#editor-wrapper  #panda-star-rating{
  float:right;
  width:160px; height:33px; margin-bottom:10px;
  background: #fff url('/static/images/common/widget/rating-select.png') no-repeat 0 0;
  border:1px solid #eee;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
}
#editor-wrapper  .panda-rating-text{
  float:right;
  margin-right:10px;
  padding-top:7px;
  font-size:1.1em;
  font-weight:bold;
}
#editor-wrapper  #panda-star-rating._1{background-position: 0px -48px;}
#editor-wrapper  #panda-star-rating._2{background-position: 0px -95px;}
#editor-wrapper  #panda-star-rating._3{background-position: 0px -142px;}
#editor-wrapper  #panda-star-rating._4{background-position: 0px -189px;}
#editor-wrapper  #panda-star-rating._5{background-position: 0px -236px;}
#editor-wrapper  #panda-star-rating div{
  width:32px;
  height:40px;
  float:left;
  cursor:cursor;
  cursor:pointer;
}


/* crop stuff
 ***********************
 */
.crop-wrapper{
  width:650px;
  padding:10px;
  overflow:auto;
}
.crop-image{
  width:500px;float:left;
}
.crop-preview{
  width:130px;float:right;
}
.crop-preview-holder{
  width:100px;
  height:100px; 
  border:2px solid #ddd; 
  overflow:hidden;
}

/* admin view
 ***********************
 */
#admin-extra{margin-top:10px;}
.t-publish{
  width:170px;
  padding:5px 8px;
  margin:5px 0;
  border:1px solid #ffff99;
  background:#ffffcc;
  font-weight:bold;
}



/* facebox
  ------------------------------------------------------------ */
#facebox .b {background:url(/images/facebox/b.png);}
#facebox .tl {
  background:url(/images/facebox/fbx-border-sprite.png) 0 0;
  width: 10px; height: 10px;
}
#facebox .tr {
  background:url(/images/facebox/fbx-border-sprite.png) -10px 0;
  width: 10px; height: 10px;
}
#facebox .bl {
  background:url(/images/facebox/fbx-border-sprite.png) -20px 0;
  width: 10px; height: 10px;
}
#facebox .br {
  background:url(/images/facebox/fbx-border-sprite.png) -30px 0;
  width: 10px; height: 10px;
}
#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
}
#facebox .popup {
  position: relative;
}
#facebox table {
  border-collapse: collapse;
  /* ie 6 hack -- if the global table width is set to anything it could cause us issues*/
  -width:0%;
}
#facebox td {
  border-bottom: 0;
  padding: 0;
}
#facebox .body {
  padding: 10px;
  background: #fff;
  width: 600px;
}
#facebox .content {
  overflow:hidden;
}
#facebox .loading {
  text-align: center;
  width: 370px;
}
#facebox .image {
  text-align: center;
}
#facebox .footer {
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 5px;
  margin-bottom:10px;
  text-align: center;
  overflow:hidden;
}
#facebox .footer a {float:right}
#facebox .footer img {
  vertical-align: middle;
}
#facebox .tl, #facebox .tr, #facebox .bl, #facebox .br {
  height: 10px;
  width: 10px;
  overflow: hidden;
  padding: 0;
}
#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}
.facebox_hide {
  z-index:-100;
}
.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
}
* html #facebox_overlay { /* ie6 hack */
  position: absolute;
  height: expression("document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px'");
}


/* --- FORM BUTTONS --- */
.buttons{overflow:auto;}
button{cursor:hand; cursor:pointer;}
.buttons a, .buttons button{
display:block; border:0; background:transparent; font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif; font-size:1em; line-height:130%; text-decoration:none; font-weight:bold; cursor:pointer; padding:5px 10px 6px 7px; /* Links */}
.buttons button{width:auto; overflow:visible; padding:4px 10px 3px 7px; /* IE6 */}
.buttons button[type]{padding:5px 10px 5px 7px; /* Firefox */  line-height:17px; /* Safari */}
*:first-child+html button[type]{padding:4px 10px 3px 7px; /* IE7 */}
.buttons button img, .buttons a img{margin:0 3px -3px 0 !important; padding:0; border:none; width:16px;  height:16px;}

/* STANDARD */
button:hover, .buttons a:hover{
color:#fff;
}
.buttons a:active{
background:#6299c5; 
color:#fff;
}

/* POSITIVE */
button.positive, .buttons a.positive{
color:#fff; background:#d1f0b9 url('/images/common/gradients.jpg') repeat-x 0px -205px; border:1px solid #bde99c;}
.buttons a.positive:hover,
button.positive:hover,
.buttons a.positive:active{
background:orange url('/images/common/gradients.jpg') repeat-x 0px -250px; border:1px solid orange; }

/* NEGATIVE */
.buttons a.negative, button.negative{background:#333 url('/images/common/gradients.jpg') repeat-x 0px -15px; border:1px solid #000; color:#fff;		}
.buttons a.negative:hover, button.negative:hover{background-attachment:fixed; background:#d52020 url(../images/gradients.jpg) repeat-x 0px -465px; border:1px solid #cc0000; color:#fff;}
.buttons a.negative:active{background-color:#d12f19; border:1px solid #d12f19; color:#fff;}
