html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, cite, code, del, dfn, em, font, img, ins, small, strike, strong, sub, sup, tt, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: url("/images/staged-bg.gif") repeat 0 0;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 5px; }

h1, h2, h3, h4, h5, h6 {
  color: #333333; }

h1 {
  font-size: 1.6em; }

h2 {
  font-size: 1.4em; }

h3 {
  font-size: 1.2em; }

h4 {
  font-size: 1em; }

a, button {
  outline: 0; }

p {
  font-size: 12px;
  padding: 0px;
  line-height: 24px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 12px;
  margin-left: 0px;
  color: #666666; }

ol {
  list-style-type: lower-roman; }

dt {
  font-weight: bold;
  text-decoration: underline;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px; }

dd {
  font-size: 12px;
  color: #666666;
  padding-top: 5px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 10px; }

label {
  font-weight: bold; }

#wrapper {
  display: block; }

#content_wrapper {
  clear: both;
  width: 750px;
  min-height: 400px; }

#facebox{position:absolute;top:0;left:0;z-index:100;text-align:left}#facebox .popup{position:relative;border:3px solid rgba(0, 0, 0, 0);-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 0 18px rgba(0, 0, 0, 0.9);-moz-box-shadow:0 0 18px rgba(0, 0, 0, 0.9);box-shadow:0 0 18px rgba(0, 0, 0, 0.9)}#facebox .content{display:table;width:370px;padding:10px;background:white;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}#facebox .content > p:first-child{margin-top:0}#facebox .content > p:last-child{margin-bottom:0}#facebox .close{position:absolute;top:5px;right:5px;padding:2px;background:transparent;text-decoration:none;color:#333333;font-weight:bold;font-size:12px}#facebox .close img{opacity:0.3}#facebox .close:hover{color:red}#facebox .loading{text-align:center}#facebox .image{text-align:center}#facebox img{border:0;margin:0}#facebox_overlay{position:fixed;top:0px;left:0px;height:100%;width:100%}.facebox_hide{z-index:-100}.facebox_overlayBG{background-color:black;z-index:99}
