<h3>Adding &amp; Editing Testimonials.</h3>
<div class="indent">
  Testimonials are organized into 3 tabs: <b>NEW</b>, <b>PUBLISHED</b>, <b>HIDDEN</b>.
  <br/>Navigate to a particular tab to learn more about that tab.
</div>  

<div class="indent">
  <h4>Adding a New Testimonial.</h4>
  <div class="indent">
    Click on <b>"New Testimonial"</b> link in the <b>NEW TAB</b>. 
  </div>
  
  <h4>Editing a Testimonial.</h4>
  <div class="indent">
    Each testimonial is listed as a table row. You can edit, update, and delete testimonials, lock testimonials so they can no longer be edited,
    and publish/unpublish testimonials.
  </div>

  <h4>Reordering Testimonials.</h4>
  <div class="indent">
    If you want to display your published testimonials in a particular order,
    just go to the <b>PUBLISH TAB</b>, reorder the testimonials using the blue "move" icons at the leftmost end of each row,
    then make sure to click "Save Positions."
    <br/> Tip: The top table header titles are clickable and will re-order the testimonials based on the clicked field.
  </div>
  
  
  <h4>Linking to an Editable Testimonial.</h4>
  <div class="indent">
    Each testimonial row has a "share" link. 
    The panel reveals a sharable link that you can give to your customer to freely edit that testimonial.
  </div>
</div>
