
<p id="message">
  Pluspanda is 100% Free. I plan to charge for premium themes
  and full-service customization. The service itself will stay FREE. 
</p>
<%= form_for @user, :url => account_path do |f| %>
<% if flash[:warning] %>
  <div class="notice"><%= flash[:warning] %></div>
<% end%>
  <%= render :partial => "form", :object => f %>
  <button type="submit">Register</button>
<% end %>
