<p id="message" style="font-size:14px; font-weight:bold">
  We'll email you a link to reset your password for the provided pluspanda account.
</p>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end%>
<%= form_for User.new, url: reset_password_account_path do |f| %>
  <fieldset>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </fieldset>
  <button type="submit">Send Reset Instructions</button>
<% end %>
