<h1 style="text-align:center; font-size:64px;">Hey Thanks!</h1>

<div style="text-align:center">
  <p style="margin-bottom:10px">
    I am glad you find pluspanda useful and because of your support I plan to keep developing it further.
  </p>

  <p style="margin-bottom:10px">
    You will see your credits in your account section shortly.
    <br/>Soon enough I'll have stuff for you to buy =).
  </p>

  <p style="margin-bottom:10px">
    Thanks again!
    <br/> - Jade
  </p>
</div>
