
<div id="side-wrapper">

</div>

<div class="primary-content">

  <div id="tab-main" class="tab-content">
    <div class="data-description">
      Place your tweets on your website by following these 2 steps:
    </div>
    
    <div class="install-page">
      <h3>1) Place This Code Where You Want Your Tweets to Display:</h3>
      <p>
        <textarea><%= h '<div id="plusPandaTweets"></div>' %></textarea>
      </p>
      
      <h3>2) Place This Code Before The Closing Body Tag at the Bottom of Your Page:</h3>
      <p>
        <textarea><%= tweet_embed_code(@user.apikey) %></textarea>
      </p>
      
      <h3>*Protip: Check out your sample page</h3>
      <p>
        You can view the page source of <a href="/twitter/published" target="_blank">this sample page</a> to see where your code should go.
      </p>
      
    </div>
  
  </div>
  
</div>



<style type="text/css"> 
  h2, h3 {
    color:#555;
    margin-bottom:15px;
    }
    p {
      margin-bottom:35px;
      line-height:1.5em;
      }
  .install-page textarea {
    width:700px;
    height:60px;
    display:block;
    font-size:16px;
    font-weight:bold;
    font-family:courier;
    color:#444;
    background-color:#FFFFCC;
    padding:10px;
  }
</style>