
<ul id="sub-tabs"> 
  <li><a href="#published" class="active" rel="tab-widget">Published View</a></li> 
  <li><a href="#staged" rel="tab-preview">Staged View</a></li> 
  <li><a href="#html" rel="tab-html">Customize</a></li> 
  <li><a href="#help" rel="tab-help">(help)</a></li> 
</ul> 

<div class="primary-content">

   
</div>

