
<h2 class="header">Why Hello, There!</h2>

<div id="twitter">
  <a href="http://twitter.com/pluspanda"><img src="/images/marketing/followme.png" alt="follow me on twitter"></a>
  
  <div class="contact-text">
    <h4>Via Twitter</h4>
    See how pluspanda is evolving, suggest ideas, and get the latest promotions
    by following pluspanda on Twitter.
    <p>
    <a href="http://twitter.com/pluspanda">@pluspanda</a>
    </p>
    Pluspanda is in beta so all Twitter followers get
    <br/>a <em>free plus account for life</em> too - of course!
  </div>
</div>


<div id="jade">
  <img src="/images/marketing/tapex.jpg" alt="self-pic" />
  <div class="contact-text">
    <br/>
    <h4>Contact Jade</h4>
    My name is Jade.
    <br/>I am the developer at Pluspanda.
    <br/>You can reach me at <a href="mailto:plusjade@gmail.com">plusjade@gmail.com</a>
    <br/>and at <a href="http://github.com/plusjade">http://github.com/plusjade</a>
    
    <br/><br/>
    I look forward to any questions, concerns, insights, ideas,
    and/or feedback you may have.
    <div style="margin:40px 110px 0 0;">Thank you!</div>
  </div>
</div>

<div id="ben">
  <img src="/images/marketing/ben.jpg" alt="ben-pic" />
  <div class="contact-text">
    <br/>
    <h4>Contact Ben</h4>
    My name is Ben.
    <br/>I am the business and marketing guy at Pluspanda.
    <br/>You can reach me at <a href="mailto:bnbien@gmail.com">bnbien@gmail.com</a>
    <br/><br/>
    I am always looking to share ideas and collaborate on joint ventures with
    motivated people. 
    <div style="margin:40px 110px 0 0;">Let's Talk!</div>
  </div>
</div>


<div id="location">
  <img src="/images/marketing/location.gif" alt="pluspanda is located in alhambra, ca" />
  <div class="contact-text">
    <br/>
    <h4>In Real Life</h4>
    We are currently in Alhambra, Ca - USA
    <br/><br/>
    If you are in the neighborhood, let us know!
  </div>
</div>


