
<h2 class="header">Frequently Asked Questions.</h2>

<div class="faq-page">

  <h3>1. How much?</h3>
  <div>
    We are in beta so adding the widget to your website is completely free.
    We are working on an export option so if you are concerned about your data and progess
    you can download all your testimonial data to your own computer.
  
    <br/><br/>
    Our intended product is to allow full layout exporting to use and own right on your website.
    This feature will costs a one time fee of $20.00 US. 
  </div>
  
  <h3>2. I already have a testimonial page, why change?</h3>
  <div>
    If you have a manually created testimonials page, chances are there is no
    easy way to update or add testimonials. It might be hard to sort or add category tags
    to them as well. Most testimonial pages are static and non-interactive. 
    Pluspanda also has professionally designed templates and cross-browser interactions
    so your content is viewed in the best light.
    
    <br/>Pluspanda makes all of these features wonderfully easy to implement and <em>automatic</em> to maintain.
    <br/>Above all, you have better things to do, and pluspanda aims to be so easy, it's fun.
  </div>
  
  
  <h3>3. I don't get it, what is the point?</h3>
  <div>
    Pluspanda is built around three core principles:
    
    <ol>
      <li><b>Great Design</b>
        <br/>Impressions count and style is <em>impressive</em>.
        We want to give your website the professional look and feel it deserves
        so your customers attach a positive experience and memory to your company.
      </li>
      <li><b>Massive Convenience</b>
        <br/>Your time is valuable. Learning how to use yet another website is not something necessarily positive for you - it's work.
        Pluspanda aims to <u>make you money</u> not cost you money. So getting to the point <em>quickly</em> is essential.
        Pluspanda should get you the greatest benefit (great looking interactive testimonials) in the quickest time and lowest cost possible.
      </li>
      <li><b>Crystal Clarity</b>
        <br/>You are busy - using pluspanda should be as clear and directed as possible so you get what you want <em>easily</em>
        
        Our website is mostly neat and tidy white because we do not want to distract you from creating great looking testimonials for your website.
        What do you care about <em>our</em> website anyway? We care much more about what we can do for your website. 
        If you have any ideas about how we can be clearer, we'd love to hear from you, thanks!
      </li>
    </ol>
  </div>




  <h3>4. Do you accept feedback and criticisms?</h3>
  <div>
    Yes it is quite vital! Please <a href="/contact">Contact Me</a> and let me have it!
  </div>

  
  <h3>5. Who are you and what are your intentions?</h3>
  <div>
    Thanks for asking! My name is Jade, I live in Southern California, USA.
    Pluspanda is in <b>beta</b> right now so I will be continually pushing in updates.
    Things are going pretty well, I am overall a pretty happy guy, but I do need all the help I can get!
    If you have any feedback at all, please <a href="/contact">contact me</a>.
    <br/><br/>
    There is this concept when developing software (and probably a lot of other things)
    where evolving the application means <em>removing features</em>. Doing <em>less</em>,
    making things <em>simpler</em>, <em>easier</em>. My goal for pluspanda
    is to take the seemingly simple, un-inspired task of "displaying customer testimionials"
    and turn it into a serious asset to your online marketing strategies (and to prove it to you).
    
    <br/>Concentrating on a task seemingly so trivial is, I think, the best way to prove just how
    powerful <em>simple</em>, <em>elegant</em> solutions can be. So we'll see what happens!
  </div>
  
  
  
</div>









