
<h2 class="header">Get PlusPanda <span style="color:#396033">Free</span>, Now!</h2>


<div class="signup-wrapper">

  <h3>FREE PLUS ACCOUNT FOR LIFE.</h3>
  Pluspanda is in beta which means we appreciate your help
  in building a service <em>you</em> love. So lock in your free
  account and help us make a great service!
  <br/><br/>
  
  <h3>100% Happiness Guarantee.</h3>
  We are committed to leading by example and being genuinely
  interested in your happiness! Enjoy a 30 day full money-back
  return policy. If you pay yearly, you can cancel <em>anytime</em>
  and receive a refund for any full, unused months remaining.
  <br/><br/>
  
  <h3>Full-Time Email Support.</h3>
  Our customer support team responds to all emails within one hour of receiving them, during business hours.
  Emails sent outside of normal business hours are handled first thing next business morning!
    

</div>

<div class="left-copy">
  <img src="/images/marketing/new-tag.png" />
  
</div>

<div style="clear:both"></div>



