
<h2 class="header">Privacy Policy.</h2>


<div class='tos-page'>

<p>
<b>This webpage last updated 21 March, 2010.</b>
<br/>It is Pluspanda's policy to respect your privacy regarding any information we may collect while operating pluspanda.com.
We will not share or make publicly available any private information save for the specific and narrow purposes and situations explained below.

</p> 

<div>
  <ul> 
    <li>We only ask you for the bare minimum of what we need to identify you as an individual and make our service convenient for our customers.</li> 
    <li>We don&#8217;t share your personal information with anyone except to comply with the law, develop our products, or protect our rights.</li> 
  </ul> 
</div>
<p>
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img src="http://creativecommons.org/images/public/somerights20.png" border="0" alt="Creative Commons License" align="right" /></a>
    The following Privacy Policy is based on the work of <a href="http://wordpress.com">Wordpress</a> whom have generously made available under the Creative Commons Sharealike license. 
</p> 



 
<h3>Website Visitors</h3> 
<p>Like most website operators, Pluspanda collects non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. Pluspanda&#8217;s purpose in collecting non-personally identifying information is to better understand how Pluspanda&#8217;s visitors use its website. From time to time, Pluspanda may release non-personally-identifying information in the aggregate, e.g., by publishing a report on trends in the usage of its website.</p> 

<p>Pluspanda also collects potentially personally-identifying information like Internet Protocol (IP) addresses. Pluspanda does not use such information to identify its visitors, however, and does not disclose such information, other than under the same circumstances that it uses and discloses personally-identifying information, as described below.</p>
 
<h3>Gathering of Personally-Identifying Information</h3> 
<p>Certain visitors to Pluspanda’s websites choose to interact with Pluspanda in ways that require Pluspanda to gather personally-identifying information. The amount and type of information that Pluspanda gathers depends on the nature of the interaction. For example, we ask visitors who who want to save their testimonials to provide an email address. Those who engage in transactions with Pluspanda - by paying for premium services, for example – are asked to provide additional information, including as necessary the personal and financial information required to process those transactions. In each case, Pluspanda collects such information only insofar as is necessary or appropriate to fulfill the purpose of the visitor’s interaction with Pluspanda. Pluspanda does not disclose personally-identifying information other than as described below. And visitors can always refuse to supply personally-identifying information, with the caveat that it may prevent them from engaging in certain website-related activities.</p> 

<h3>Aggregated Statistics</h3> 
<p>Pluspanda may collect statistics about the behavior of visitors to its websites. For instance, Pluspanda may monitor
user interaction of our admin panel in order to improve the user experience. We also may monitor user interaction on our widgets to improve widget usability. Pluspanda may display this information publicly or provide it to others. However, Pluspanda does not disclose personally-identifying information other than as described below.</p> 


<h3>Protection of Certain Personally-Identifying Information</h3> 
<p>Pluspanda discloses potentially personally-identifying and personally-identifying information only to those of its employees, contractors and affiliated organizations that (i) need to know that information in order to process it on Pluspanda's behalf or to provide services available at Pluspanda's websites, and (ii) that have agreed not to disclose it to others. Some of those employees, contractors and affiliated organizations may be located outside of your home country; by using Pluspanda's websites, you consent to the transfer of such information to them. Pluspanda will not rent or sell potentially personally-identifying and personally-identifying information to anyone. Other than to its employees, contractors and affiliated organizations, as described above, Pluspanda discloses potentially personally-identifying and personally-identifying information only when required to do so by law, or when Pluspanda believes in good faith that disclosure is reasonably necessary to protect the property or rights of Pluspanda, third parties or the public at large. If you are a registered user of a Pluspanda account and have supplied your email address, Pluspanda may occasionally send you an email to tell you about new features, solicit your feedback, or just keep you up to date with what’s going on with Pluspanda and our products. We primarily use our various product blogs to communicate this type of information, so we expect to keep this type of email to a minimum. If you send us a request (for example via a support email or via one of our feedback mechanisms), we reserve the right to publish it in order to help us clarify or respond to your request or to help us support other users. Pluspanda takes all measures reasonably necessary to protect against the unauthorized access, use, alteration or destruction of potentially personally-identifying and personally-identifying information.</p> 

<h3>Testimonial and Account Data</h3> 
<p>
In order to serve your testimonials via our widgets and allow continous management and organization of testimonial data, we have to store all user testimonials in our database. To ensure your data is protected and backed up, we may have to save this data in multiple locations using cloud services such as Amazon Web Services. Data may be shared with 3rd party vendors such as Amazon <b>only</b> insofar as we deem necessary to provide adequate security and backup protocols. Your data will never be made publicly available in any manner whatsoever other than that which you specifically allow such as embedding any of our products, apis, or widgets into public facing properties. 
</p>

<h3>Cookies</h3> 
<p>A cookie is a string of information that a website stores on a visitor’s computer, and that the visitor’s browser provides to the website each time the visitor returns. Pluspanda uses cookies to help Pluspanda identify and track visitors, their usage of Pluspanda website, and their website access preferences. Pluspanda visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using Pluspanda's websites, with the drawback that certain features of Pluspanda's websites may not function properly without the aid of cookies.</p> 




<h3>Privacy Policy Changes</h3> 
<p>Although most changes are likely to be minor, Pluspanda may change its Privacy Policy from time to time, and in Pluspanda's sole discretion. Pluspanda encourages visitors to frequently check this page for any changes to its Privacy Policy. If you have a wordpress.com account, you should also check your blog’s dashboard for alerts to these changes. Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.

</div>










