<ul class="sub-tabs"> 
  <li><a href="/admin/widget">Production View</a></li> 
  <li><a href="/admin/widget/preview">Staged View</a></li> 
  <li><a href="/admin/widget/settings">Settings</a></li> 
  <li><a href="/admin/widget/css">Edit CSS</a></li> 
  <li><a href="/admin/widget/wrapper">Edit Wrapper HTML</a></li> 
  <li><a href="/admin/widget/testimonial">Edit Testimonial HTML</a></li> 
  <li><a href="/admin/widget/help">Help</a></li> 
</ul>
<div class="options-box">
  <div class="editor-panel buttons">
  </div>
</div>
