<div class="data-description">
  This widget displays the "published" version which appears on your live website.
  <br> Use the "staged" version to preview updates without affecting your live widget.
</div>

<div id="widget-published-wrapper">&#160;</div>
