<div class="data-description buttons">
  <a href="/admin/theme/publish" id="theme-publish" class="positive">Publish Changes</a> 
  This widget displays all the code customizations you currently have saved.
  <br/>Click "Publish Changes" to officially update published mode.
</div>
<div id="widget-staged-wrapper">&#160;</div>
