<div class="data-description">
  Edit basic widget settings here. View your changes in the <b>Edit View</b>.
</div>

<%= form_for @user.tconfig, :url => '/admin/settings', :html => { :id => nil, :rel => "form.settings" } do |f| %>  
  <div class="btn-toolbar">
    <div class="btn-group" style="float:right">
      <button type="submit" class="btn btn-success positive">Save</button>
    </div>
  </div>

  <fieldset>
    <label>Testimonials per page:</label>
    #<%= f.text_field(:per_page, :id => nil, :class => "tconfig_per_page", :maxlength => 3, :style => "width:30px" ) %>
  </fieldset>

  <fieldset>
    <label>Order Testimonials by:</label>  
     <%= f.select(:sort, Tconfig.sorters, {}, :id => nil, :class => "tconfig_sort" ) %>
    <p>(you can order testimonials in the <b>Manage Testimonials</b> section)</p>
  </fieldset>
<% end %>
