<div class="data-description">
  This is the Wrapper HTML used to style your widget. View your HTML changes in the <b>Edit View</b>.
</div>

<%= form_tag('/admin/theme/wrapper-html', :method => :post, :id => 'code-editor-form', :class => "editor-form" ) do %>
  <div class="btn-toolbar">
    <div class="btn-group">
      <a href="/admin/theme/wrapper-html" class="refresh btn">Refresh Staged HTML</a>
      <a href="/admin/theme/wrapper-html/original" class="load-stock btn">Load Original HTML</a>
    </div> 

    <div class="btn-group" style="float:right">
      <button type="submit" class="btn btn-success positive">Save</button>
    </div>
  </div>
  <textarea id="code-editor" name="data" style="height:600px"><%= @theme.get_attribute("wrapper.html").staged %></textarea>
<% end %>

<ul class="tokens" style="display:none">
  <li><b>Wrapper Tokens</b></li>
  <li><input type="text" value="{{testimonials}}" /></li>
  <li><input type="text" value="{{tag_list}}" /></li>
  <li><input type="text" value="{{count}}" /></li>
  <li><input type="text" value="{{form_link:Link Text}}" /></li>
</ul>
