
<% if @user.email.blank? %>
<h2 style="text-decoration:underline; color:#0066cc;">
 <img src="/static/images/admin/warning.png" />
  Remember to Save Your Account by Entering Your Email!
 <img src="/static/images/admin/warning.png" />
 <br/>Otherwise this code will expire in 24 hours =(
</h2>
<% end %>

<div class="install-page">
  <h3>Place This Code Where You Want Your Testimonials to Display:</h3>
  <p>
    <textarea><%=h "<div id=\"plusPandaYes\"></div>\n#{embed_code(@user.apikey)}" %></textarea>
  </p>
  
  <h3>TIP: Check out your sample page!</h3>
  <p>
    <a href="/admin/widget/published" target="_blank">Sample Page</a>.
    <br/>You can view the page source to see where your code should go.
  </p>
  
  
  <h3>Coming Soon: Export Your Layout</h3>
  <p>
    We are working on adding exporting of all html,css, javascript and data assets
    to upload onto your own page. Please email <a href="mailto:jade@pluspanda.com">jade@pluspanda.com</a> if this is something you would be interested in, thanks!
  </p>
</div>


<style type="text/css"> 
  h2, h3 {
    color:#444;
    margin-bottom:15px;
    }
    p {
      margin-bottom:35px;
      line-height:1.5em;
      }
  .tab-content {
    width:750px;
  }
  .install-page textarea {
    width:100%;
    display:block;
    padding:10px;
    font-size:16px;
    font-weight:bold;
    font-family:courier;
    color:#444;
    background-color:#FFFFCC;
    
  }
</style>