
<div style="width:550px; padding:10px;">  
  <h3>Want to Support Pluspanda?</h3>
  <p style="margin-bottom:10px">
    Currently pluspanda does not sell anything. However you can credit your account ahead of time by purchasing a support level.
    This helps keep pluspanda running and expedites premium feature development.
     - Thanks for caring!
  </p>
  <div style="float:left; width:250px; margin-bottom:10px">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" class="no-ajax">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="RXXKCN8YW2RH6">
      <table style="margin-bottom:10px">
      <tr><td><input type="hidden" name="on0" value="Support Level"><b>Your Support Level</b></td></tr><tr><td><select name="os0">
      	<option value="Paying it Forward">Paying it Forward: $100.00</option>
      	<option value="Spreading the Love">Spreading the Love: $50.00</option>
      	<option value="Sharing the Joy">Sharing the Joy: $25.00</option>
      	<option value="Goodwill =)">Goodwill =): $10.00</option>
      	<option value="It's the thought that counts">It's the thought that counts: $1.00</option>
      </select> </td></tr>
      <tr><td><input type="hidden" name="on1" value="Your email"><b>User Account</b></td></tr><tr><td><input type="text" name="os1" maxlength="60" value="<%= current_user.email %>" style="width:200px" readonly="readonly"></td></tr>
      </table>
      <input type="hidden" name="currency_code" value="USD">
      <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
  </div>

  <div style="float:right; width:250px; margin-bottom:10px">
  <% if Rails.env.production? %>  
  <script type="text/javascript" src="https://images-na.ssl-images-amazon.com/images/G/01/cba/js/widget/widget.js"></script>
  <form method=POST class="no-ajax" action="https://payments.amazon.com/checkout/A3DN8X7E1XP5TE">
    <b>Your support level:</b>
    <p style="margin-bottom:10px">
      <select name="order-input">
      <option value="type:cba-signed-order/sha1-hmac/1;order:
      PD94bWwgdmVyc2lvbj0nMS4wJyBlbmNvZGluZz0nVVRGLTgnPz48T3JkZXIgeG1sbnM9J2h0dHA6
      Ly9wYXltZW50cy5hbWF6b24uY29tL2NoZWNrb3V0LzIwMDgtMTEtMzAvJz48Q2FydD48SXRlbXM+
      PEl0ZW0+PE1lcmNoYW50SWQ+QTNETjhYN0UxWFA1VEU8L01lcmNoYW50SWQ+PFRpdGxlPlBheWlu
      ZyBpdCBGb3J3YXJkPC9UaXRsZT48RGVzY3JpcHRpb24+JDEwMCBQbHVzcGFuZGEgY3JlZGl0PC9E
      ZXNjcmlwdGlvbj48UHJpY2U+PEFtb3VudD45OS45OTwvQW1vdW50PjxDdXJyZW5jeUNvZGU+VVNE
      PC9DdXJyZW5jeUNvZGU+PC9QcmljZT48UXVhbnRpdHk+MTwvUXVhbnRpdHk+PFNoaXBwaW5nTWV0
      aG9kSWRzPjxTaGlwcGluZ01ldGhvZElkPkJ1dHRvblNoaXBwaW5nTWV0aG9kLTEyOTgxOTkzODAy
      MzcyMzwvU2hpcHBpbmdNZXRob2RJZD48L1NoaXBwaW5nTWV0aG9kSWRzPjxGdWxmaWxsbWVudE5l
      dHdvcms+TUVSQ0hBTlQ8L0Z1bGZpbGxtZW50TmV0d29yaz48L0l0ZW0+PC9JdGVtcz48L0NhcnQ+
      PFNoaXBwaW5nTWV0aG9kcz48U2hpcHBpbmdNZXRob2Q+PFNoaXBwaW5nTWV0aG9kSWQ+QnV0dG9u
      U2hpcHBpbmdNZXRob2QtMTI5ODE5OTM4MDIzNzIzPC9TaGlwcGluZ01ldGhvZElkPjxTZXJ2aWNl
      TGV2ZWw+U3RhbmRhcmQ8L1NlcnZpY2VMZXZlbD48UmF0ZT48U2hpcG1lbnRCYXNlZD48QW1vdW50
      PjAuMDE8L0Ftb3VudD48Q3VycmVuY3lDb2RlPlVTRDwvQ3VycmVuY3lDb2RlPjwvU2hpcG1lbnRC
      YXNlZD48L1JhdGU+PEluY2x1ZGVkUmVnaW9ucz48UHJlZGVmaW5lZFJlZ2lvbj5VU0FsbDwvUHJl
      ZGVmaW5lZFJlZ2lvbj48L0luY2x1ZGVkUmVnaW9ucz48L1NoaXBwaW5nTWV0aG9kPjwvU2hpcHBp
      bmdNZXRob2RzPjwvT3JkZXI+
      ;signature:jShlCq05HliKaXRM3NtCrICDRfU=">$99.99 - Paying it Forward</option><option value="type:cba-signed-order/sha1-hmac/1;order:
      PD94bWwgdmVyc2lvbj0nMS4wJyBlbmNvZGluZz0nVVRGLTgnPz48T3JkZXIgeG1sbnM9J2h0dHA6
      Ly9wYXltZW50cy5hbWF6b24uY29tL2NoZWNrb3V0LzIwMDgtMTEtMzAvJz48Q2FydD48SXRlbXM+
      PEl0ZW0+PE1lcmNoYW50SWQ+QTNETjhYN0UxWFA1VEU8L01lcmNoYW50SWQ+PFRpdGxlPlNwcmVh
      ZGluZyB0aGUgTG92ZTwvVGl0bGU+PERlc2NyaXB0aW9uPiQ1MCBQbHVzcGFuZGEgY3JlZGl0PC9E
      ZXNjcmlwdGlvbj48UHJpY2U+PEFtb3VudD40OS45OTwvQW1vdW50PjxDdXJyZW5jeUNvZGU+VVNE
      PC9DdXJyZW5jeUNvZGU+PC9QcmljZT48UXVhbnRpdHk+MTwvUXVhbnRpdHk+PFNoaXBwaW5nTWV0
      aG9kSWRzPjxTaGlwcGluZ01ldGhvZElkPkJ1dHRvblNoaXBwaW5nTWV0aG9kLTEyOTgxOTkzODAz
      MTM1NDwvU2hpcHBpbmdNZXRob2RJZD48L1NoaXBwaW5nTWV0aG9kSWRzPjxGdWxmaWxsbWVudE5l
      dHdvcms+TUVSQ0hBTlQ8L0Z1bGZpbGxtZW50TmV0d29yaz48L0l0ZW0+PC9JdGVtcz48L0NhcnQ+
      PFNoaXBwaW5nTWV0aG9kcz48U2hpcHBpbmdNZXRob2Q+PFNoaXBwaW5nTWV0aG9kSWQ+QnV0dG9u
      U2hpcHBpbmdNZXRob2QtMTI5ODE5OTM4MDMxMzU0PC9TaGlwcGluZ01ldGhvZElkPjxTZXJ2aWNl
      TGV2ZWw+U3RhbmRhcmQ8L1NlcnZpY2VMZXZlbD48UmF0ZT48U2hpcG1lbnRCYXNlZD48QW1vdW50
      PjAuMDE8L0Ftb3VudD48Q3VycmVuY3lDb2RlPlVTRDwvQ3VycmVuY3lDb2RlPjwvU2hpcG1lbnRC
      YXNlZD48L1JhdGU+PEluY2x1ZGVkUmVnaW9ucz48UHJlZGVmaW5lZFJlZ2lvbj5VU0FsbDwvUHJl
      ZGVmaW5lZFJlZ2lvbj48L0luY2x1ZGVkUmVnaW9ucz48L1NoaXBwaW5nTWV0aG9kPjwvU2hpcHBp
      bmdNZXRob2RzPjwvT3JkZXI+
      ;signature:V8scaA9z/xUW6XbiEaQERW45YO8=">$49.99 - Spreading the Love</option><option value="type:cba-signed-order/sha1-hmac/1;order:
      PD94bWwgdmVyc2lvbj0nMS4wJyBlbmNvZGluZz0nVVRGLTgnPz48T3JkZXIgeG1sbnM9J2h0dHA6
      Ly9wYXltZW50cy5hbWF6b24uY29tL2NoZWNrb3V0LzIwMDgtMTEtMzAvJz48Q2FydD48SXRlbXM+
      PEl0ZW0+PE1lcmNoYW50SWQ+QTNETjhYN0UxWFA1VEU8L01lcmNoYW50SWQ+PFRpdGxlPlNoYXJp
      bmcgdGhlIEpveTwvVGl0bGU+PERlc2NyaXB0aW9uPiQyNSBQbHVzcGFuZGEgY3JlZGl0PC9EZXNj
      cmlwdGlvbj48UHJpY2U+PEFtb3VudD4yNC45OTwvQW1vdW50PjxDdXJyZW5jeUNvZGU+VVNEPC9D
      dXJyZW5jeUNvZGU+PC9QcmljZT48UXVhbnRpdHk+MTwvUXVhbnRpdHk+PFNoaXBwaW5nTWV0aG9k
      SWRzPjxTaGlwcGluZ01ldGhvZElkPkJ1dHRvblNoaXBwaW5nTWV0aG9kLTEyOTgxOTkzODAzMTkx
      NTwvU2hpcHBpbmdNZXRob2RJZD48L1NoaXBwaW5nTWV0aG9kSWRzPjxGdWxmaWxsbWVudE5ldHdv
      cms+TUVSQ0hBTlQ8L0Z1bGZpbGxtZW50TmV0d29yaz48L0l0ZW0+PC9JdGVtcz48L0NhcnQ+PFNo
      aXBwaW5nTWV0aG9kcz48U2hpcHBpbmdNZXRob2Q+PFNoaXBwaW5nTWV0aG9kSWQ+QnV0dG9uU2hp
      cHBpbmdNZXRob2QtMTI5ODE5OTM4MDMxOTE1PC9TaGlwcGluZ01ldGhvZElkPjxTZXJ2aWNlTGV2
      ZWw+U3RhbmRhcmQ8L1NlcnZpY2VMZXZlbD48UmF0ZT48U2hpcG1lbnRCYXNlZD48QW1vdW50PjAu
      MDE8L0Ftb3VudD48Q3VycmVuY3lDb2RlPlVTRDwvQ3VycmVuY3lDb2RlPjwvU2hpcG1lbnRCYXNl
      ZD48L1JhdGU+PEluY2x1ZGVkUmVnaW9ucz48UHJlZGVmaW5lZFJlZ2lvbj5VU0FsbDwvUHJlZGVm
      aW5lZFJlZ2lvbj48L0luY2x1ZGVkUmVnaW9ucz48L1NoaXBwaW5nTWV0aG9kPjwvU2hpcHBpbmdN
      ZXRob2RzPjwvT3JkZXI+
      ;signature:ThnRP/yt1UlPhododrK2MFIZgWM=">$24.99 - Sharing the Joy</option><option value="type:cba-signed-order/sha1-hmac/1;order:
      PD94bWwgdmVyc2lvbj0nMS4wJyBlbmNvZGluZz0nVVRGLTgnPz48T3JkZXIgeG1sbnM9J2h0dHA6
      Ly9wYXltZW50cy5hbWF6b24uY29tL2NoZWNrb3V0LzIwMDgtMTEtMzAvJz48Q2FydD48SXRlbXM+
      PEl0ZW0+PE1lcmNoYW50SWQ+QTNETjhYN0UxWFA1VEU8L01lcmNoYW50SWQ+PFRpdGxlPkdvb2R3
      aWxsPC9UaXRsZT48RGVzY3JpcHRpb24+JDEwIFBsdXNwYW5kYSBjcmVkaXQ8L0Rlc2NyaXB0aW9u
      PjxQcmljZT48QW1vdW50PjkuOTk8L0Ftb3VudD48Q3VycmVuY3lDb2RlPlVTRDwvQ3VycmVuY3lD
      b2RlPjwvUHJpY2U+PFF1YW50aXR5PjE8L1F1YW50aXR5PjxTaGlwcGluZ01ldGhvZElkcz48U2hp
      cHBpbmdNZXRob2RJZD5CdXR0b25TaGlwcGluZ01ldGhvZC0xMjk4MTk5MzgwMzI1NTY8L1NoaXBw
      aW5nTWV0aG9kSWQ+PC9TaGlwcGluZ01ldGhvZElkcz48RnVsZmlsbG1lbnROZXR3b3JrPk1FUkNI
      QU5UPC9GdWxmaWxsbWVudE5ldHdvcms+PC9JdGVtPjwvSXRlbXM+PC9DYXJ0PjxTaGlwcGluZ01l
      dGhvZHM+PFNoaXBwaW5nTWV0aG9kPjxTaGlwcGluZ01ldGhvZElkPkJ1dHRvblNoaXBwaW5nTWV0
      aG9kLTEyOTgxOTkzODAzMjU1NjwvU2hpcHBpbmdNZXRob2RJZD48U2VydmljZUxldmVsPlN0YW5k
      YXJkPC9TZXJ2aWNlTGV2ZWw+PFJhdGU+PFNoaXBtZW50QmFzZWQ+PEFtb3VudD4wLjAxPC9BbW91
      bnQ+PEN1cnJlbmN5Q29kZT5VU0Q8L0N1cnJlbmN5Q29kZT48L1NoaXBtZW50QmFzZWQ+PC9SYXRl
      PjxJbmNsdWRlZFJlZ2lvbnM+PFByZWRlZmluZWRSZWdpb24+VVNBbGw8L1ByZWRlZmluZWRSZWdp
      b24+PC9JbmNsdWRlZFJlZ2lvbnM+PC9TaGlwcGluZ01ldGhvZD48L1NoaXBwaW5nTWV0aG9kcz48
      L09yZGVyPg==
      ;signature:Aceo5U1+Hx8iD4qhIRCdCVPjRGs=">$9.99 - Goodwill</option><option value="type:cba-signed-order/sha1-hmac/1;order:
      PD94bWwgdmVyc2lvbj0nMS4wJyBlbmNvZGluZz0nVVRGLTgnPz48T3JkZXIgeG1sbnM9J2h0dHA6
      Ly9wYXltZW50cy5hbWF6b24uY29tL2NoZWNrb3V0LzIwMDgtMTEtMzAvJz48Q2FydD48SXRlbXM+
      PEl0ZW0+PE1lcmNoYW50SWQ+QTNETjhYN0UxWFA1VEU8L01lcmNoYW50SWQ+PFRpdGxlPkl0JmFw
      b3M7cyB0aGUgdGhvdWdodCB0aGF0IGNvdW50czwvVGl0bGU+PERlc2NyaXB0aW9uPiQxIFBsdXNw
      YW5kYSBjcmVkaXQ8L0Rlc2NyaXB0aW9uPjxQcmljZT48QW1vdW50PjAuOTk8L0Ftb3VudD48Q3Vy
      cmVuY3lDb2RlPlVTRDwvQ3VycmVuY3lDb2RlPjwvUHJpY2U+PFF1YW50aXR5PjE8L1F1YW50aXR5
      PjxTaGlwcGluZ01ldGhvZElkcz48U2hpcHBpbmdNZXRob2RJZD5CdXR0b25TaGlwcGluZ01ldGhv
      ZC0xMjk4MTk5MzgwMzMwOTwvU2hpcHBpbmdNZXRob2RJZD48L1NoaXBwaW5nTWV0aG9kSWRzPjxG
      dWxmaWxsbWVudE5ldHdvcms+TUVSQ0hBTlQ8L0Z1bGZpbGxtZW50TmV0d29yaz48L0l0ZW0+PC9J
      dGVtcz48L0NhcnQ+PFNoaXBwaW5nTWV0aG9kcz48U2hpcHBpbmdNZXRob2Q+PFNoaXBwaW5nTWV0
      aG9kSWQ+QnV0dG9uU2hpcHBpbmdNZXRob2QtMTI5ODE5OTM4MDMzMDk8L1NoaXBwaW5nTWV0aG9k
      SWQ+PFNlcnZpY2VMZXZlbD5TdGFuZGFyZDwvU2VydmljZUxldmVsPjxSYXRlPjxTaGlwbWVudEJh
      c2VkPjxBbW91bnQ+MC4wMTwvQW1vdW50PjxDdXJyZW5jeUNvZGU+VVNEPC9DdXJyZW5jeUNvZGU+
      PC9TaGlwbWVudEJhc2VkPjwvUmF0ZT48SW5jbHVkZWRSZWdpb25zPjxQcmVkZWZpbmVkUmVnaW9u
      PlVTQWxsPC9QcmVkZWZpbmVkUmVnaW9uPjwvSW5jbHVkZWRSZWdpb25zPjwvU2hpcHBpbmdNZXRo
      b2Q+PC9TaGlwcGluZ01ldGhvZHM+PC9PcmRlcj4=
      ;signature:IHl2FIs0a+hG8iuumb+KdPq43Eg=">$0.99 - It's the thought that counts</option>
      </select>
    </p>
    <input alt="Checkout with Amazon Payments" src="https://payments.amazon.com/gp/cba/button?ie=UTF8&color=orange&background=white&cartOwnerId=A3DN8X7E1XP5TE&size=large" type="image">
  </form>  
  <% else %>
    <script type="text/javascript" src="https://images-na.ssl-images-amazon.com/images/G/01/cba/js/widget/sandbox/widget.js"></script>
    <form method=POST class="no-ajax" action="https://payments-sandbox.amazon.com/checkout/A3DN8X7E1XP5TE">
    <b>Your support level:</b>
    <p style="margin-bottom:10px">
      <select name="order-input">
    <option value="type:cba-signed-order/sha1-hmac/1;order:
    PD94bWwgdmVyc2lvbj0nMS4wJyBlbmNvZGluZz0nVVRGLTgnPz48T3JkZXIgeG1sbnM9J2h0dHA6
    Ly9wYXltZW50cy5hbWF6b24uY29tL2NoZWNrb3V0LzIwMDgtMTEtMzAvJz48Q2FydD48SXRlbXM+
    PEl0ZW0+PE1lcmNoYW50SWQ+QTNETjhYN0UxWFA1VEU8L01lcmNoYW50SWQ+PFRpdGxlPlBheWlu
    ZyBpdCBGb3J3YXJkPC9UaXRsZT48RGVzY3JpcHRpb24+JDEwMCBwbHVzcGFuZGEgY3JlZGl0PC9E
    ZXNjcmlwdGlvbj48UHJpY2U+PEFtb3VudD4xMDA8L0Ftb3VudD48Q3VycmVuY3lDb2RlPlVTRDwv
    Q3VycmVuY3lDb2RlPjwvUHJpY2U+PFF1YW50aXR5PjE8L1F1YW50aXR5PjxGdWxmaWxsbWVudE5l
    dHdvcms+TUVSQ0hBTlQ8L0Z1bGZpbGxtZW50TmV0d29yaz48L0l0ZW0+PC9JdGVtcz48L0NhcnQ+
    PC9PcmRlcj4=
    ;signature:IkVsi9m9GQuFCprVvVHMsM6mqw0=">$100.00 - Paying it Forward</option><option value="type:cba-signed-order/sha1-hmac/1;order:
    PD94bWwgdmVyc2lvbj0nMS4wJyBlbmNvZGluZz0nVVRGLTgnPz48T3JkZXIgeG1sbnM9J2h0dHA6
    Ly9wYXltZW50cy5hbWF6b24uY29tL2NoZWNrb3V0LzIwMDgtMTEtMzAvJz48Q2FydD48SXRlbXM+
    PEl0ZW0+PE1lcmNoYW50SWQ+QTNETjhYN0UxWFA1VEU8L01lcmNoYW50SWQ+PFRpdGxlPlNwcmVh
    ZGluZyB0aGUgTG92ZTwvVGl0bGU+PERlc2NyaXB0aW9uPiQ1MCBwbHVzcGFuZGEgY3JlZGl0PC9E
    ZXNjcmlwdGlvbj48UHJpY2U+PEFtb3VudD41MDwvQW1vdW50PjxDdXJyZW5jeUNvZGU+VVNEPC9D
    dXJyZW5jeUNvZGU+PC9QcmljZT48UXVhbnRpdHk+MTwvUXVhbnRpdHk+PEZ1bGZpbGxtZW50TmV0
    d29yaz5NRVJDSEFOVDwvRnVsZmlsbG1lbnROZXR3b3JrPjwvSXRlbT48L0l0ZW1zPjwvQ2FydD48
    L09yZGVyPg==
    ;signature:GfneOPyZLVX++XWP77Ce54kBAhU=">$50.00 - Spreading the Love</option><option value="type:cba-signed-order/sha1-hmac/1;order:
    PD94bWwgdmVyc2lvbj0nMS4wJyBlbmNvZGluZz0nVVRGLTgnPz48T3JkZXIgeG1sbnM9J2h0dHA6
    Ly9wYXltZW50cy5hbWF6b24uY29tL2NoZWNrb3V0LzIwMDgtMTEtMzAvJz48Q2FydD48SXRlbXM+
    PEl0ZW0+PE1lcmNoYW50SWQ+QTNETjhYN0UxWFA1VEU8L01lcmNoYW50SWQ+PFRpdGxlPlNoYXJp
    bmcgdGhlIEpveTwvVGl0bGU+PERlc2NyaXB0aW9uPiQyNSBwbHVzcGFuZGEgY3JlZGl0PC9EZXNj
    cmlwdGlvbj48UHJpY2U+PEFtb3VudD4yNTwvQW1vdW50PjxDdXJyZW5jeUNvZGU+VVNEPC9DdXJy
    ZW5jeUNvZGU+PC9QcmljZT48UXVhbnRpdHk+MTwvUXVhbnRpdHk+PEZ1bGZpbGxtZW50TmV0d29y
    az5NRVJDSEFOVDwvRnVsZmlsbG1lbnROZXR3b3JrPjwvSXRlbT48L0l0ZW1zPjwvQ2FydD48L09y
    ZGVyPg==
    ;signature:7dXqMjRNkytItDjgVacSC/LWgFQ=">$25.00 - Sharing the Joy</option><option value="type:cba-signed-order/sha1-hmac/1;order:
    PD94bWwgdmVyc2lvbj0nMS4wJyBlbmNvZGluZz0nVVRGLTgnPz48T3JkZXIgeG1sbnM9J2h0dHA6
    Ly9wYXltZW50cy5hbWF6b24uY29tL2NoZWNrb3V0LzIwMDgtMTEtMzAvJz48Q2FydD48SXRlbXM+
    PEl0ZW0+PE1lcmNoYW50SWQ+QTNETjhYN0UxWFA1VEU8L01lcmNoYW50SWQ+PFRpdGxlPkdvb2R3
    aWxsPC9UaXRsZT48RGVzY3JpcHRpb24+JDEwIHBsdXNwYW5kYSBjcmVkaXQ8L0Rlc2NyaXB0aW9u
    PjxQcmljZT48QW1vdW50PjEwPC9BbW91bnQ+PEN1cnJlbmN5Q29kZT5VU0Q8L0N1cnJlbmN5Q29k
    ZT48L1ByaWNlPjxRdWFudGl0eT4xPC9RdWFudGl0eT48RnVsZmlsbG1lbnROZXR3b3JrPk1FUkNI
    QU5UPC9GdWxmaWxsbWVudE5ldHdvcms+PC9JdGVtPjwvSXRlbXM+PC9DYXJ0PjwvT3JkZXI+
    ;signature:vyeTK2/Y6OuS6pRXSc9aDxHurAI=">$10.00 - Goodwill</option><option value="type:cba-signed-order/sha1-hmac/1;order:
    PD94bWwgdmVyc2lvbj0nMS4wJyBlbmNvZGluZz0nVVRGLTgnPz48T3JkZXIgeG1sbnM9J2h0dHA6
    Ly9wYXltZW50cy5hbWF6b24uY29tL2NoZWNrb3V0LzIwMDgtMTEtMzAvJz48Q2FydD48SXRlbXM+
    PEl0ZW0+PE1lcmNoYW50SWQ+QTNETjhYN0UxWFA1VEU8L01lcmNoYW50SWQ+PFRpdGxlPkl0JmFw
    b3M7cyB0aGUgVGhvdWdodCB0aGF0IENvdW50czwvVGl0bGU+PERlc2NyaXB0aW9uPiQxIHBsdXNw
    YW5kYSBjcmVkaXQ8L0Rlc2NyaXB0aW9uPjxQcmljZT48QW1vdW50PjE8L0Ftb3VudD48Q3VycmVu
    Y3lDb2RlPlVTRDwvQ3VycmVuY3lDb2RlPjwvUHJpY2U+PFF1YW50aXR5PjE8L1F1YW50aXR5PjxG
    dWxmaWxsbWVudE5ldHdvcms+TUVSQ0hBTlQ8L0Z1bGZpbGxtZW50TmV0d29yaz48L0l0ZW0+PC9J
    dGVtcz48L0NhcnQ+PC9PcmRlcj4=
    ;signature:hvvrDfitHpmDoH7zvYjXlzxdVy8=">$1.00 - It's the Thought that Counts</option></select>
    </p>
    <input alt="Checkout with Amazon Payments" src="https://payments-sandbox.amazon.com/gp/cba/button?ie=UTF8&color=orange&background=white&cartOwnerId=A3DN8X7E1XP5TE&size=large" type="image">
    </form>
  <% end %>
  </div>
  
  <p style="clear:both; margin-bottom:10px">
    <b>Paypal Notes:</b> You don't need a paypal account to pay with paypal.
    <br/>Paypal will list "amateur" as the business as I used be an ebay seller.
  </p>
  <p>
    <b>Amazon Notes:</b> Upon checkout Amazon will list a shipping price of 10 cents even though there is no shipping involved.
  </p>
</div>