<ul class="sub-tabs">
  <li><a href="/admin/collect">Form Preview</a></li>
  <li><a href="/admin/collect/settings">Form Settings</a></li> 
  <li><a href="/admin/collect/help">Help</a></li> 
</ul> 

<div class="options-box">
  <%= link_to "View form in external page.", collection_form_url, :target => "_blank" %>
</div>
