<div class="data-description">
  Send your customers to your testimonial collection form to fill out a testimonial.
   Testimonials auto-magically appear in your admin panel.
</div>

<div id="public-link">
  <span>Link to your form:</span> 
  <input id="collector-form-url" type="text" value="<%= collection_form_url %>" /> 
</div>
<div id="collector-form-view">&#160;</div>
