.tweet {
  width:470px;
  height:90px;
  position:relative;
  margin:0 auto 7px auto;
  padding:8px;
  background:#FFF;
  border-radius:5px;
}
.tweet:hover {
  border:1px solid #FE5F1B;
}
.tweet a.trash {
  display:block;
  position:absolute;
  bottom:0px;
  right:0;
  z-index:2;
  width:30px;
  line-height:20px;
  font-size:14px;
  font-weight:bold;
  text-align:center;
  text-decoration:none;
  background:#610000;
  color:#F7FFF8;
  border-radius:5px 0 5px 0;
}
.tweet img {
  display:block;
  float:left;
  margin-right:10px;
  border:1px solid #ccc;
  
}
.tweet .body {
  float:left;
  width:400px;
}
.tweet div {
  margin-bottom:3px;
}
.tweet .user {
  font-weight:bold;
  font-size:13px;
}
.tweet .text {
  font-size:14px;
}
.tweet .date {
  font-size:13px;
}