<% extra ||= false %>
  
<ul class="pandA-tTags_ness">
  <li><a href="#all" class="active">Everyone</a></li>
<% if extra %>
  <% extra.each do |val, text| %>
      <li><a href="#<%= val %>"><%= text %></a></li>
  <% end %>
<% end %>

<% for tag in tags do %>
  <li><a href="#<%= tag.id %>"><%= tag.name %></a></li>
<% end %>
</ul>
