<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>PlusPanda Feedback Engine</title>
  
  <%= stylesheet_link_tag "testimonials" %>
</head>

<body>
<div id="wrapper">
  <div id="content_wrapper">
    <%= yield %>
    
    <div id="panda-powered">
      <h2>Powered by <%= link_to "http://pluspanda.com", "http://pluspanda.com" %></h2>
    </div>
    <div id="footer">© Copyright 2010 PlusPanda =]</div>
  </div>
  
</div>

</body>
</html>
