<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlusPanda Feedback Engine</title>
    <%= stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" %>

    <%#= stylesheet_link_tag "testimonials" %>
  </head>

  <body>
    <div class="container" style="max-width:600px">
      <%= yield %>
    </div>
  </body>
</html>
